.header_box_button{
	width: 275px;
  	margin: 0 auto;
	display: none;
}
.header_box_button_item {
  background-color: transparent;
  outline-style: none;
  border: 1px solid #D8D8D8;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 0 5px;
  text-align: center !important;
  padding: 0;
  cursor: pointer;
}
.header_box_button_item.one {
  width: 160px;
  height: 30px;
  font: 16px/22px Tahoma;
  text-align: center;
  color: #4C4C4C;
}
.header_box_button_item.two {
  width: 90px;
  height: 30px;
  font: 16px/22px Tahoma;
  text-align: center;
  color: #4C4C4C;
}
#header .logo img{
	width: 100% !important;
	height: auto;
}
.action{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:after{
	display: block;
	content: "";
	height: 0;
	clear: both;
}
.d_block{display: block;}
.wrapper1{overflow: hidden;}