


/* Start:/bitrix/templates/.default/components/bitrix/news.list/for_main/style.css*/
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */
/* /bitrix/templates/.default/components/bitrix/news.list/for_main/style.css */
