/*==================================RESPONSIVE LAYOUTS===============================================*/
.form_new{
	margin-top: 20px;
	margin-bottom: 10px;
	background-color: #fff;
	border: 2px solid #0163d1 !important;
	padding: 20px 20px 24px 20px;
	background: -moz-linear-gradient(top, #fafafa, #efefef) !important;
	background: -webkit-linear-gradient(top, #fafafa, #efefef) !important;
	background: -o-linear-gradient(top, #fafafa, #efefef) !important;
	background: -ms-linear-gradient(top, #fafafa, #efefef) !important;
	background: linear-gradient(top, #fafafa, #efefef) !important;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.enter_page .action .adv-block{height: auto;}
.mb10{margin-bottom: 10px;}

.action .adv-block{height: auto !important;}
.input-error{clear:both;}

#wrapper{
	max-width: 1150px;
	width: auto;
	padding: 0 20px;
	box-sizing:border-box;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.d_n, .list_fotter_center, .search_320, .header_box_button{display: none;}
.search_320 {
  width: 223px;
  margin: auto;
  position: relative;
  padding-bottom: 15px;
}
.input_320_search {
  border: 2px solid #d8d8d8;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  float: left;
  height: 30px;
  width: 223px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline-style: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-image: none;
  padding: 6px 30px 6px 10px !important;
}
.btn_with_input {
  background: url(../files/btn_search_inp.png) 0 0 no-repeat;
  float: left;
  position: absolute;
  right: 0px;
  top: 0px;
  border: none;
  display: block;
  width: 30px;
  height: 30px;
  outline-style: none;
}

.feednews{
	position: relative;
	margin: 39px 0px 0px;
	padding: 19px 22px 13px 20px;
	border-radius: 24px;
	-moz-border-radius: 24px;
	-webkit-border-radius: 24px;
	background: transparent;
	border: 2px solid #d8d8d8;
}
.feednews label span{
	display: block;
	font: 16px/20px Tahoma;
	color: #4c4c4c;
	padding: 0px 0px 10px 2px;
}
.feednews label .fninp {
	width: 161px;
	height: 24px;
	padding: 0px 8px 4px;
	margin: 0px 0px 10px;
	font: 200 14px/24px Tahoma;
	color: #000;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 2px solid #d8d8d8;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.feednews .subbl2 {
	position: relative;
	border: none;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
.feednews .subbl2 .inbutt {
	position: relative;
	z-index: 1;
	display: block;
	text-align: center;
	font: 18px/18px Tahoma;
	color: #FFF;
	white-space: normal;
	cursor: pointer;
	border: none;
	background: #1F497D;
	padding: 10px 0px;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
}
.feednews .subbl2 input {
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	display: block;
	cursor: pointer;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	opacity: 0;
	-moz-opacity: 0;
	-khtml-opacity: 0;
}


.contact_page .inner{
	padding: 60px 0px 0px;
}

.enter_page .subs,.registration_page .subs,.done_page .subs{border: none;background: none;}
.contact_page .form_new{margin: 20px 0;}
.done_page .zform .subbl input,
.done_page .zform .subbl{width: 180px !important;}

#domust.nwid3{margin-top: 10px;}
.fran_begemot .sellink2 span{
	margin-top: 0!important;
}

.body_otzyvy .rblock{
	width: 77.11711711711712%;
}
.body_otzyvy .lblock,
.fran_begemot .lblock{
    width: 20.4%;
}
.box_reviews_item{
	width: 100%;
	margin-bottom: 50px;
	overflow: hidden;
}
.box_reviews_item2{
	width: 100%;
	margin-bottom: 20px;
	overflow: hidden;
}
.otzyvy_title{
	margin-bottom: 50px;
}
.box_reviews_item img, .box_reviews_item2 img{
	float: left;
	margin: 0 10px 5px 0;
}
.box_reviews_text{
	font-family: Tahoma;
	margin-bottom: 24px;
	font-size: 16px;
	line-height: 18px;
	color: #120f08;
}
.box_reviews_img_f_right{
	float: right!important;
	margin: 0 0 0 10px!important;
}
.list_otziv{
	width: 180px;
}


@media only screen and (min-width: 1100px){
	#header{
		overflow: hidden;
	}
	.body_fr_news .action .name{
		font-size: 18px;
	}
}
@media only screen and (max-width: 1200px){
	
	.rblock{
		width: calc(100% - 255px);
	}
	#header .logo {
	  width: 20.4%;
	}
	#header .anons {
	  width: 48%;
	}
	#header .anons p {
	  font-size: 15px;
	  line-height: 20px;
	}
	#footer {
	  margin: 40px 0px 0px 0px;
	}
	.art {
		padding: 45px 30px 0px 0px;
	}
	.subs.sfran.cont .flblock {
		width: 360px !important;
	}
	.subs.sfran.cont .flblock .lab span {
	    font-size: 17px;
	}
	.subs.sfran.cont .frblock {
	    width: 365px !important;
	}
	.subs.sfran.cont .bx_rigr_txt {
	    width: 210px !important;
	}
	.map_img_head {
		left: -35px !important;
	}
	#big_menu li {
		font-size: 21px;
		margin-right: 20px;
	}

	.cform{
		margin: 0 -10px;
	}
	.cform .cright,
	.cform .cleft{
		width: 50%;
		padding: 0 10px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.cform .cleft label{padding-bottom: 10px;}
	.actions .s1, .actions .s2, .actions .s3{
		height: 78px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.actions .s1 {
		width: 35.7%;
		padding: 16px 32px 0px 38px;
	}
	.actions .s2 {
		width: 26%;
		padding: 16px 0px 0px 30px;
	}
	.actions .s3 {
		width: 38%;
		padding: 16px 10px 0 67px;
	}
	.actions .step p, .actions .step.s2 p {
	  font-size: 12px;
	  line-height: 15px;
	}
	.registration_page .zform{margin: 0 -10px;}
	.registration_page .zform .flblock,
	.registration_page .zform .frblock{
		width: 50% !important;
		margin: 0;
		padding: 0 10px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.registration_page .zform label{padding-top: 10px;overflow: hidden;}
	.registration_page .zform .lab{width: 148px;}
	
	.registration_page .zform .lab span,
	.lform .lab span,
	.cform .cleft label .lab,
	.cform .cright label .lab{font-size: 17px;}
	
	.cform .cright label,.cform .cleft label{overflow: hidden;}


	.registration_page .zform .lab span img{max-width: 100%;}
	.registration_page .zform .sinp{float: right;width: 130px;}

	.enter_page .forget{
		width: auto;
		float: none;
		overflow: hidden;
		padding-left: 10px;
	}
	.actions .step p, .actions .step.s2 p {
	  font-size: 12px !important;
	  line-height: 15px;
	}
	.body_fr_news .actions.step_main_block .s1, 
	.body_fr_news .actions.step_main_block .s2, 
	.body_fr_news .actions.step_main_block .s3{
		height:65px;
		padding-top: 10px;
	}
	.body_fr_news .actions.step_main_block .s1 .rt, .body_fr_news .actions.step_main_block .s3 .lt {
	  height: 65px;
	  background-position: 0 -6px;
	}
	.body_fr_news .actions.step_main_block {
	  height: 65px;
	  background-position: 0 -6px;
	}
	.tabs li.current{
		border: 2px solid #e9e9e9;
		border-radius: 10px;
	}
	.tabs{background: none;padding-bottom: 10px;}
	.cform .cright label .lab{width: 100px;}
	.cform .cright label .txtar{width: 228px;}

}

@media only screen and (max-width: 1170px) {
	.fransearch .zag3 ,.selectbl h2{
		font-size: 19px ;
	}
	.fransearch .zag3 small ,
	.threeblock label,
	.name p,
	.selectbl h2 small{
		font-size: 13px;
		line-height: 15px;
	}
	.fransearch {
		padding: 10px 5px;
		margin-bottom: 30px;
	}
	.fcheck {
		margin: 0px 5px 0px 0px;
	}
	.threeblock h4,
	.threeblock .zag4 {
		font: 600 14px/21px Tahoma;
	}
	.selectbl {
		padding: 12px 32px 30px;
	}
}
@media only screen and (max-width: 1167px) {
	.threeblock {
		width: 100% !important;
	}
	.lblock {
	  width: 231px;
	}
	.rblock {
	  width: 76%;
	}
	#header .anons{
		margin: 0 0 0 24%;
	}
	.body_otzyvy .rblock,
	.fran_begemot .rblock{
		width: 75%;
	}
}

@media only screen and (max-width: 1150px) {
	#header .anons p{
		font: 13px/25px Tahoma;
	}
	#header .anons{
		width: 45%;
		margin: 0 0 0 26%;
	}
	#header .hright {
	    margin: 0;
	}
	.rblock,
	.fr_info{
		width: 75%;
	}
	.threeblock{
		width: 32%;
	}
	.threeblock.one{
		margin: 0 3px 0 0 !important;
	}
	.threeblock.three{
		margin: 0 !important;
	}
	.fransearch{
		padding: 10px;
	}
	.threeblock h4,
	.threeblock .zag4{
		font: 600 14px/21px Tahoma;
	}
	#help-txt{
		width: 60px;
		z-index: 9;
	}
	.slider,
	.slider .visible{
		width: 690px;
	}
	.longlist .item .empty{
		width: 684px;
	}
	.slider .visible .longlist .item .fran{
		margin: 0px 5px 40px 0px;
	}
	.subs h3,
	.subs h2,
	.subs .zag3{
		white-space: inherit;
	}
	.zform .checks,
	.frblock{
		width: 300px;
	}
	.zform .name2 {
		padding: 0px 0px 0px 25px;
	}
	.fcheckblock3{
		margin: 0 10px 0 0;
	}
	.frblock{
		margin-bottom: 0 !important;
	}
	#big_menu li{
		font-size: 20px;
	}
	.owl-car1 .item .empty{
		width: 685px;
	}
	.owl-car1 .fran{
		margin: 0px 20px 0px 0px;
		width: 30%;
	}
	.top_anchor{
		display: block;
		position: fixed;
		bottom: 20px;
		right: 25px;
		border: 25px solid transparent;
    	border-bottom: 25px solid #1f497d;
    	z-index: 99;
    	opacity: 0.5;
	}
	.top_anchor:hover{
		opacity: 1;
	}
	#footer{
		margin: 40px 0px 0px 0px;
	}
	.quest{
		right: -16px;
		top: 0px;
	}
	#wrapper{
		overflow: hidden;
	}
	.fransearch .zag3 ,
	.selectbl h2,
	.subs h3,
	.subs h2,
	.subs .zag3{
		font-size: 18px ;
	}
	.fransearch .zag3 small ,
	.threeblock label,
	.name p,
	.selectbl h2 small,
	.subs h3 small,
	.subs h2 small,
	.subs .zag3 small{
		font-size: 13px;
		line-height: 15px;
	}
	.fransearch {
		padding: 10px 5px;
		margin-bottom: 30px;
	}
	.threeblock {
		width: 100% !important;
	}
	.name {
		width: 173px;
	}
	.fcheck{
		margin: 0px 5px 0px 0px;
	}
	.selectbl {
		padding: 12px 32px 30px;
	}
	.invf{
		font-size: 14px;
	}
	.filters {
		padding: 0px 0px 10px;
	}
	.owl-car1 .item .fran .nm {
		padding: 10px 0px 7px;
	}
	.owl-car1 .item .fran .nm a {
		font: 18px Tahoma;
	}
	.full-sell-link{
		margin-top: 5px;
		height: 30px;
		margin-bottom: 10px;
	}
	.owl-car1 .item .fran .sellink2{
		margin-top: 5px;
	}
	.owl-car1 .item .fran .sellink2 span,
	.owl-car1 .item .fran .gotosell span{
		font-size: 15px;
	}
	.owl-car1 .item .fran .gotosell{
		margin-top: 10px;
		height: 30px;
		margin-bottom: 10px;
	}
	.news_list{
		margin-top: 30px;
	}
	.body_fr .fr_info .image.im1{
		width: 203px;
	}
	.body_fr .toAnchor{
		width: 750px;
	}
	.stick_main{
		width: 758px;
	}
	.body_fr .w100_1150{
		width: 100%;
	}
	.body_fr .photolist {
		margin-left: -14px;
	}
	.body_fr .photolist a {
		margin: 15px 0px 15px 11px;
	}
	.body_fr #help-txt{
		width: 130px;
	}
	.body_fr .n_item .info {
		float: none;overflow: hidden;
	}
	.body_fr .n_item .info a {
		float: none;width: auto;
	}
	.body_fr .subs.sfran ,
	.body_fr .checks{
		width: auto !important;
	}
	.body_fr .frblock,
	.body_fr .zform .subbl input{
		width: 300px !important;
	}
	.bx_rigr_txt{
		width: 195px !important;
	}
	.body_fr .fr_info .shinfo .name{
		font-size: 26px;
	}
	.body_fr .actions .s2{
		padding: 16px 40px 0px 58px;
	}
	.actions .step p {
		font: 14px/17px Tahoma;
	}
	.subs.sfran{
		padding: 14px 33px 24px 20px;
	}
	.slider.same{
		padding: 22px 28px 0px 28px;height: auto;
	}
	.art {
		padding: 74px 0 0px 0;
	}
	.body_fr_news .bx_rigr_txt{
		width: 165px !important;
	}
	.body_fr_news2 .news .anons{
		width: 454px;
	}
	.body_fr_news2 .news .nlinks{
		width: 240px;
	}
	.body_fr_news2 .news .nlinks .item{
		padding: 6px 15px;
	}
	.body_fr_news .longlist .item .fran .nm{
		min-height: 30px;
	}
	.body_fr_news blockquote{
		margin: 0 0 0 20px !important;
	}
	.img_1150{
		width: 100% !important;
		height: auto !important;
	}
	
	.contact_page .cform .cleft label .lab{width: 160px;}
	.contact_page .cform .cleft label .lab img{max-width: 100%;}
	.done_page .zform .subbl input,
	.done_page .zform .subbl{width: 180px !important;}
	.done_page .zform .subbl{border: none;}
}
@media only screen and (max-width: 1149px) {
	.img_1150_1{
		width: 45% !important;
		height: auto !important;
	}

}
@media only screen and (max-width: 1132px) {
	.slidersamenews .longlist .item .fran .sellink2{
		margin-top: 7px;
	}
	.slidersamenews .longlist .item .fran .sellink2 span{
		line-height: 13px;
		font-size: 15px;
	}
	.slidersamenews .visible ,
	.slidersamenews .visible .longlist .item{
	    width: 100% !important;
	}
	.slidersamenews .visible .longlist .item .fran {
	    margin: 0px 10px 40px;
	}
	.contact_page .cform .cleft label .lab{width: 140px;}
	.contact_page .cform .cright label .txtar,
	.contact_page .cform .cleft label .sinp{width: 50%;}
	.contact_page .cform .cright label .txtar{height: 150px;}
	.cform .cright label .txtar,
	.cform .cleft label .sinp{
		width: 60%;
		margin-left: 0;
		float: right;
	}

}
@media only screen and (max-width: 1090px) {
	.subs.sfran.cont .flblock {
	    width: 340px !important;
	}
}
@media only screen and (max-width: 1065px) {
	.subs.sfran.cont .flblock {
	    width: 340px !important;
	}
	.subs.sfran.cont .flblock .lab span {
	    font-size: 15px;
	}
	.subs.sfran.cont .frblock {
	    width: 350px !important;
	}
}
@media only screen and (max-width: 1060px) {
	.body_fr .toAnchor{width: 70.9%;}
	#domust.width_box{width: 85%!important;}
}
@media only screen and (max-width: 1053px) {
	.owl-car1 .fran {
	    margin: 0px 18px 0px 0px;
	}
}
@media only screen and (max-width: 1040px) {
	.subs.sfran.cont .frblock {
	    width: 330px !important;
	}
	.subs.sfran.cont .bx_rigr_txt {
	    width: 195px !important;
	}
}
@media only screen and (max-width: 1038px) {
	.toAnchor_item {
	    margin-right: -470px;
	}
}
@media only screen and (max-width: 1024px) {
	#wrapper,
	#footer{
		width: 100%;
	}
	#header .anons .zag,
	#header .anons h1{
		font: 18px Tahoma;
	}
	#header .anons {
	  margin: 0 0 0 26%;
	  width: 42%;
	}
	#header .anons p{
		width: 100%;
		font: 13px/20px Tahoma;
	}
	.map_img_head{
		left: -30px !important;
	}
	.footlinks {
		padding: 10px 0px 0px;
	}
	#big_menu li {
		font-size: 18px;margin-right: 30px;
	}
	#footer .ftext {
		padding: 23px 0px 0px 0px;
	}
	#footer{
		height: 200px;
	}
	.threeblock {
		width: 50%;padding: 0;
	}
	.threeblock.one{
		margin: 0 !important;padding: 0;
	}
	.threeblock label {
	  padding: 0px 0px 5px;
	}
	.slider, .slider .visible ,
	.slider .visible .longlist .item{
		width: 483px;
	}
	.longlist .item .empty {
		width: 476px;
	}
	.slider .visible .longlist .item .fran {
		margin: 0px 10px 45px 0px;
		float: left;min-height: 258px;
	}
	.zform .checks{
		width: 100%;
		float: none;
	}
	.frblock{
		width: 48%;
	}
	span.bbspan{
		padding: 10px 0;
	}
	.subs{
		padding: 14px 20px 24px 20px;
	}
	.zform .subbl{
		margin: auto !important;
		float: none;
		width: 320px;
	}
	.fransearch {
		padding: 10px;
	}
	.owl-car1 .item .empty {
		width: 99%;
	}
	#help-txt {
		width: 167px;
	}
	.body_fr .actions .s1 {
		padding: 16px 33px 0px 40px;
	}
	.body_fr .actions .s2 {
		padding: 16px 1px 0px 28px;
	}
	.body_fr .actions .s3 {
		padding: 16px 5px 0px 70px;
	}
	.body_fr .actions .step .num{
		left: -25px;
	}
	.body_fr .fr_info .shinfo p {
		padding: 10px 0px 10px;font: 200 16px/100% Tahoma;
	}
	.body_fr .fr_info .shinfo .name {
		font-size: 22px;
	}
	.body_fr .manBlock{
		float: left;
	}
	.body_fr .fr_info .shinfo {
		margin: 0px 0px 10px 20px;
	}
	.body_fr .photolist {
		margin-left: -5px;
	}
	.body_fr .frblock{
		margin-right: 17%;
	}
	.body_fr .zform .subbl input{
		width: 100% !important;
		font-size: 18px !important;
		padding: 0;
	}
	.body_fr .zform .subbl{
		margin-left: auto !important;
		margin-right: auto !important;
		float: none !important;
		width: 204px;
	}
	.body_fr .slider .visible,
	.body_fr .slider.same{
		width: 467px;
	}
	.body_fr .slider.same{
		height: auto;
	}
	.body_fr .slider .visible .longlist{
		width: auto;
	}
	.body_fr .slider.same h2{
		white-space: inherit;
	}
	.stick_main {
		width: 530px;
	}
	.art {
		padding: 30px 0 0px 0;
	}
	.top_anchor{
		bottom: 90px;width: 0;
	}
	.f_left_1024{
		float: left;
	}
	.body_fr_news2 .news .anons {
		width: 286px;
		height: 624px !important;
		padding: 22px 15px;
	}
	.body_fr_news2 .news .nlinks {
		width: 209px;
		padding: 0;
	}
	.body_fr_news2 .news .anons .image{
		overflow: hidden;
	}
	.d_n_1024{
		display: none !important;
	}
	.d_b_1024{
		display: block !important;
	}
	.captcha_img_it2{
		margin-left: 45% !important;
	}
	.feednews .subbl2 {
	  border: none;
	  -webkit-border-radius: 5px;
	  border-radius: 5px;
	      box-shadow: none;
	  -moz-box-shadow: none;
	  -webkit-box-shadow: none;
	}
	.feednews .subbl2 input {
	  border: none;
	  background: #1F497D;
	}
	.feednews {
	  margin: 8px auto 0px;
	}
	.feednews label .fninp {
	  width: 100%;
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	  border: 2px solid #d8d8d8;
	  box-shadow: none;
	  -moz-box-shadow: none;
	  -webkit-box-shadow: none;
	  height: 28px;
	  padding: 4px 8px 4px;
	}
	.feednews label span {
	  font: 14px Tahoma;
	  padding-bottom: 5px;
	  display: inline-block;
	}
	.action {
	  margin: 8px auto 0;
	}
	.action .name {
	  font: 20px/20px Tahoma;
	  color: #1f497d;
	  float: none;
	  text-align: center;
	}
	.action font a, .action font {
	  color: #4c4c4c !important;
	}
	a,.owl-car1 .item .fran .nm a,.invf.clk{
	  color: #1f497d;
	}
	.subs,.fransearch,.news_list{
		background: #FFF;
		border: 2px solid #D8D8D8;
	}
	span.bbspan{
		border: 2px solid #D8D8D8;
	}
	p.zzag{
		color: #4c4c4c !important;
	}
	.owl-car1 .fran{
		height: auto !important;
		margin: 5px 6px 25px 0px;
	}
	.selectbl {
	  	padding: 12px 32px 0px;
	}
	.art h1, .box h1{
		font-size: 25px;
	}
	.subs.sfran.cont .frblock{
		margin-right: 0;
	}
	.subs.sfran.cont{background-color: #FFF !important;}
	.subs.sfran.cont .zform .subbl{
		width: 100%;
		margin: 0 !important;
		float: left !important;
	}
	.slidersamenews .visible .longlist .item .fran {
	    margin: 0px 8px 40px;
	}
	.slidersamenews .visible{
		overflow: initial;
	}
	
	.enter_page .subs .inner{padding-top: 30px;}
	.done_page .zform .subbl{float: left !important;margin-right: 10px !important;}
}
@media only screen and (max-width: 1022px){
	.owl-car1 .item .fran .gotosell {
	    margin-top: 6px;
	    margin-bottom: 6px;
	}
}
@media only screen and (max-width: 1015px){
	.owl-car1 .item .fran .gotosell {
	    margin-top: 10px;
	    height: 30px;
	    margin-bottom: 2px;
	}
}
@media only screen and (max-width: 1010px){
	.subs.sfran.cont .flblock {
	    width: 325px !important;
	}
	.captcha_img_it2 {
	    margin-left: 37% !important;
	}
	.contact_page .cform .cright{width: 40%;}
	.contact_page .cform .cleft{width: 60%;}

	.contact_page .cform .cright label .lab{width:90px;margin-right: 0;}

	.contact_page .cform .cleft label .lab{width: 140px;}
	.contact_page .cform .cright label .txtar{height: 100px;}
	.contact_page .cform .cright label .txtar,
	.contact_page .cform .cleft label .sinp{
		width: 50% !important;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}
@media only screen and (max-width: 1005px){
	.owl-car1 .item .fran .gotosell {
	    margin-top: 9px;
	    height: 30px;
	    margin-bottom: 3px;
	}
}
@media only screen and (max-width: 1000px){
	#franshizInfoGet div.flblock{
		width: 50%;
		float: left;
	}
	.zform .checks{
		width: 100%;
	}
	.frblock{
		width: 48%;
		float: right;
	}
	.toAnchor_item {
	    margin-right: -450px;
	}
}
@media only screen and (max-width: 993px){
	.subs.sfran.cont .frblock {
	    width: 305px !important;
	}
	.subs.sfran.cont .bx_rigr_txt {
	    width: 170px !important;
	}
}
@media only screen and (max-width: 992px){
	.rblock, .fr_info, .toAnchor{
		  width: 73%;
	}
	.body_fr .toAnchor {
	     width: 68.9%; 
	}
	.owl-car1 .fran {
	  	width: 32%;
	  	margin: 0px 3px 15px 2px;
	}
	.owl-car1 .item .fran .nm {
	  	padding: 5px 0px 5px;
	}
	.owl-car1 .item .fran .nm a {
	  	font: 16px Tahoma;
	  	display: inline-block;
	}
	.owl-car1 .item .fran p ,
	.owl-car1 .item .fran .invest{
		font: 13px Tahoma;
	}
	.owl-car1 .item .fran .sellink2 span,
	.owl-car1 .item .fran .gotosell span {
		font-size: 12px;
	}
	.owl-car1 .item .empty{
		margin-top: 0;
	}
	.selectbl {
		padding: 12px 32px 15px;
	}
	.toAnchor_item {
	    margin-right: -460px;
	}
	.cform{margin:0;padding-top: 30px;}
	.cform .cright, .cform .cleft{width: auto;float: none;padding-bottom: 10px;}
	.registration_page .zform .flblock, .registration_page .zform .frblock{width: 100% !important;}
	.registration_page .zform .flblock, .registration_page .zform .frblock{width: 100% !important; float: none;padding: 0 0 10px;}
	.registration_page .zform .sinp{width: 55% !important;}
	.enter_page .lform{width: 57%;}
	.enter_page .lform .sinp{
		float: right;
	}
	.enter_page .lform label{padding-top: 15px;overflow: hidden;}
	.enter_page .lform .subbl,
	.enter_page .lform .chk{float: none;}

	.contact_page .cform .cright,
	.contact_page .cform .cleft{
		width: auto;
		float: none;
	}
}
@media only screen and (max-width: 986px){
	.slidersamenews .longlist .item .fran .gotosell span a{
		font-size: 14px;
	}
}
@media only screen and (max-width: 985px){
	.actions .step p {
	    font: 14px/14px Tahoma;
	}
}
@media only screen and (max-width: 975px){
	.subs.sfran.cont .flblock {
	    width: 320px !important;
	}
	.subs.sfran.cont .flblock .lab span {
	    letter-spacing: -0.1px;
	}
	.toAnchor {
	    width: 310px !important;
	}
	.stickButton{
		width: 80%;
		font-size: 11px;
	}
	.stickButton ins{font-size: 10px;}
}
@media only screen and (max-width: 970px){
	.rblock, .fr_info, .toAnchor{
		width: 72%;
	}
	.sinp{
		width: 167px !important;
	}
	#franshizInfoGet div.flblock{
		height: 289px;
	}
	.subs.sfran.cont .frblock {
	    width: 295px !important;
	}
	.subs.sfran.cont .flblock {
	    width: 306px !important;
	}
	.body_fr .toAnchor {
	     width: 68%; 
	}
	.toAnchor_item {
	    margin-right: -454px;
	}
}
@media only screen and (max-width: 960px){
	.toAnchor_item {
	    margin-right: -449px;
	}
	.toAnchor {
	    width: 280px !important;
	}
}
@media only screen and (max-width: 957px){
	.slidersamenews .visible .longlist .item .fran {
	    margin: 0px 7px 40px;
	}
	.slidersamenews .longlist .item .fran .sellink2 span {
	    line-height: 15px;
	    font-size: 13px;
	}
}
@media only screen and (max-width: 955px){
	.toAnchor_item {
	    margin-right: -435px;
	}
}
@media only screen and (max-width: 942px){
	.owl-car1 .fran {
	    margin: 0px 1px 15px;
	}
}
@media only screen and (max-width: 939px){
	.subs.sfran.cont .frblock {
	    width: 280px !important;
	}
	.subs.sfran.cont .bx_rigr_txt {
	    width: 150px !important;
	}
	.subs.sfran.cont .name {
	    width: auto;
	    font-size: 15px !important;
	}
	.subs.sfran.cont .profession{
		font-size: 14px !important;
	}
}
@media only screen and (max-width: 930px){
	.toAnchor_item {
	    margin-right: -420px;
	}
}
@media only screen and (max-width: 925px){
	#franshizInfoGet div.flblock {
	  	height: 310px;
	}
	.subs.sfran.cont .sinp {
	    width: 145px !important;
	}
	.subs.sfran.cont .flblock {
	    width: 285px !important;
	}
}
@media only screen and (max-width: 900px){
	.rblock, .fr_info, .toAnchor{
		width: 70%;
	}
	.body_fr .toAnchor {
	    width: 66%;
	}
	#header .anons{
		width: 38%;
		margin: 0 0 0 30%;
	}
	.flblock label {
	  	clear: both;
	}
	.flblock .lab span{
		font-size: 15px;
	}
	.input-error{
		float: left;
	}
	#franshizInfoGet div.flblock {
	  	height: 309px;
	}
	.captcha_img{
		margin-top: -7px;
	}
	.fransearch{
		margin-bottom: 10px;
	}
	.news_list {
	  	margin-top: 10px;
	}
	.fran_text {
	   padding-bottom: 0px; 
	}
	.subs.sfran.cont .sinp {
	    width: 125px !important;
	}
	.subs.sfran.cont .flblock {
	    width: 270px !important;
	}
	.subs.sfran.cont .frblock {
		width: 265px !important;
	}
	.subs.sfran.cont .bx_rigr_txt {
	    width: 136px !important;
	}
	.subs.sfran.cont .profession {
	    font-size: 13px !important;
	}
	.toAnchor{
		width: 65.6% !important;
		bottom: 35px;
	}
	.toAnchor_item{
		margin-right: 0;
		bottom: 0;
		right: 20px;
	}
	.enter_page .lform{width: auto;float: none;}
	.enter_page .lform .sinp{width: 60% !important;}
}
@media only screen and (max-width: 895px){
	#franshizInfoGet div.flblock {
	  	height: 336px;
	}
	.subs.sfran.cont .last_lab .sinp {
	    width: 105px !important;
	}
}
@media only screen and (max-width: 884px){
	.captcha_img{
		margin-top: 0;
	}
	.sinp {
	  	width: 145px !important;
	}
	.slidersamenews .longlist .item .fran .gotosell span a{
		font-size: 11px;
	}
}
@media only screen and (max-width: 880px){
	.rblock, .fr_info, .toAnchor{
		width: 69%;
	}
	.subs.sfran.cont .flblock {
	    width: 263px !important;
	}
	.subs.sfran.cont .frblock {
	    width: 260px !important;
	}
	.body_fr .toAnchor {
	    width: 64.8%;
	}
	.toAnchor {
	    width: 64.6% !important;
	}
}
@media only screen and (max-width: 875px){
	#big_menu li {
	    font-size: 16px;
	    margin-right: 15px;
	}
}
@media only screen and (max-width: 870px){
	.slidersamenews .longlist .item .fran .sellink2 span {
	    line-height: 15px;
	    font-size: 11px;
	}
	.done1_page .block_btn{width: auto !important;min-width: 0 !important;}
	.done1_page .block_btn .subbl{
		float: none !important;
		display: inline-block !important;
		margin-left: 0 !important;
	}
	.done1_page .block_btn .subbl>a{
		height: auto;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}
@media only screen and (max-width: 864px){
	.subs.sfran.cont .frblock{
		width: 70% !important;
		margin: auto;
		float: none;
	}
	.subs.sfran.cont .flblock{
		width: 100% !important;
		float: none;
	}
	.subs.sfran.cont .sinp {
	    width: 70% !important;
	}
	.captcha_img_it2 {
	    margin-left: 25% !important;
	}
	.subs.sfran.cont .bx_rigr_txt {
		width: 185px !important;
	}
	.subs.sfran.cont .name {
	    font-size: 17px !important;
	}
	.subs.sfran.cont .profession {
	    font-size: 14px !important;
	}
	.d_n_864{display: none;}
	.d_b_864{display: block;}

}
@media only screen and (max-width: 860px){
	.flblock .lab span{
		font-size: 15px;
	}
	.input-error{
		float: left;
	}
}

@media only screen and (max-width: 850px){
	.actions .step p b,
	.actions .step.s2 p b{
	    font-size: 20px;
	}
	.actions .step p, 
	.actions .step.s2 p {
	    font-size: 12px !important;
	    line-height: 15px !important;
	}
}
@media only screen and (max-width: 835px){
	.map_img_head{
		top: 0 !important;
	}
	#franshizInfoGet div.flblock{
		height: auto;
		min-height: inherit;
	}
	.sinp{width: 200px !important;}
	.flblock{
		width: 70%;
	}
	#header .anons{
		margin: 0 0 0 24%;
	}
	#header .hright {
	  	width: 255px;
	}
	.captcha_img{
		float: left;
		margin-bottom: 10px;
		margin-top: -5px;
	}
	#domust.width_box{
		width: 100%!important;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	}
}
@media only screen and (max-width: 828px){
	.slidersamenews {
	    padding: 22px 10px 30px !important;
	}
}
@media only screen and (max-width: 810px){
.body_fr_news .toAnchor{
		width: 64%;
	}
}
@media only screen and (max-width: 805px){
	.doplinks a {
	    font-size: 14px;
	}
}
@media only screen and (max-width: 803px){
	.rblock, .fr_info, .toAnchor{
		width: 67%;
	}
	#header .anons{
		width: 40%;
		margin: 0 0 0 24%;
	}
	.body_fr_news .toAnchor {
	    width: 62%;
	}
	.toAnchor {
	    width: 62.4% !important;
	}
}
@media only screen and (max-width: 800px){
	.captcha_img {
	   	float: none;
	  	margin-bottom: 10px;
	   	margin-top: 0;
	}
	
}
@media only screen and (max-width: 795px) {
	#header .anons .zag,
	#header .anons h1{
		padding: 10px 0 0 0;
		font-size: 16px;
	}
	.fran_text {
	  	padding-bottom: 0px;
	}
	#header .anons p {
		width: 100%;
		font: 11px/15px Tahoma;
	}
	#big_menu li,
	#min_menu li {
		font-size: 14px;
		margin-right: 15px;
	}
	#footer .ftext {
		padding: 10px 0px 0px 0px;
	}
	.threeblock {
		width: 65%;
	}
	#help-txt {
		width: 155px;
	}
	#header{
		height: 90px;
	}
	#header .logo {
	  width: 140px;
	}
	#header .logo img{
		width: 100%;
		height: auto;
		padding-top: 5px;
	}
	.news_list {
	  margin-top: 10px;
	}
	#footer{
		margin-top: 20px;
	}
	.owl-car1 .fran {
		margin: 5px 6px 10px 0px;
		width: 47%;
	}
	.owl-car1 .item .fran .nm a {
		font: 15px Tahoma;
	}
	.owl-car1 .item .fran .invest,
	.owl-car1 .item .fran p{
		font-size: 13px;
		letter-spacing: -0.5px;
	}
	.owl-car1 .item .fran .sellink2 span{
		font-size: 13px;
		line-height: 21px;
	}
	.owl-car1 .item .empty {
		width: 98% !important;
		margin: 0;
	}
	.owl-car1 .item .empty h4,
	.owl-car1 .item .empty .zag4 {
		font: 200 23px Tahoma;
	}
	.owl-car1 .item .empty p {
		font: 14px/24px Tahoma;
	}
	.owl-car1 .item .empty p a {
		font-size: 12px;
	}
	.feednews{
		margin-top: 15px;
	}
	.fransearch{
		margin-bottom: 15px;
	}
	.selectbl {
	  	padding: 12px 32px 0px;
	}
	.body_fr .fr_info .image.im1{
		margin: 10px auto;
		float: none;
	}
	.body_fr .fr_info .shinfo{
		margin: 10px auto;
		float: none;
		width: 225px;
	}
	.body_fr .manBlock{
		margin: 10px auto;
		float: none;
	}
	.body_fr .frblock {
		margin-right: 5%;
	}
	.body_fr .ftabs ul li{
		padding: 11px 10px 0px;
	}
	.body_fr .ftabs ul li.current{
		padding: 9px 10px 0;
	}
	.body_fr .n_item .info a{
		font-size: 16px;
	}
	.body_fr .ftinner {
		padding: 32px 15px 34px;
	}
	.body_fr .photolist a {
		margin: 15px auto;
		float: none;
		display: block;
	}
	.body_fr .photolist ,
	.body_fr .rblock ul{
		margin-left: 0;
	}
	.registration_page .zform ul{margin-left: 18px;}
	.art p,
	.box p {
		padding: 5px 0px;
		font-size: 14px;
	}
	.body_fr .slider .visible,
	.body_fr .slider.same {
		width: 345px;
	}
	.body_fr .slider,
	.slider .visible,
	.body_fr .slider .visible .longlist .item {
		width: auto;
	}
	.body_fr .slider .visible .longlist .item .fran{
		min-height: 258px;
		height: auto;
	}
	.body_fr .slider .visible .longlist .item{
		margin: auto;
		float: none;
		width: 224px;
	}
	.body_fr .slider.same{
	  padding: 22px 28px;
	}
	.body_fr .slider .visible .longlist .item .fran:last-child{
		margin-bottom: 0;
	}
	.body_fr .actions .s1 {
		padding: 16px 28px 0px 24px;
	}
	.body_fr .actions .step p ,
	.body_fr .actions .step.s2 p{
		font: 13px/17px Tahoma;
	}
	.body_fr .actions .step p b {
		font: 19px/20px Tahoma;
	}
	.body_fr .actions .s2 {
		padding: 16px 1px 0px 20px;
	}
	.body_fr .actions .step.s2 p b{
		font: 19px/20px Tahoma;
	}
	.body_fr .actions .s3 {
		padding: 16px 5px 0px 58px;
	}
	.body_fr .actions .step .num {
		left: -18px;
	}
	.body_fr_news .rblock{
		padding-top: 0;
	}
	.rblock.rblock_news{padding-top: 10px;}
	.stick_main {
		width: 399px;
	}
	.anch_it {
		width: 100% !important;
		font-size: 12px;
		padding: 4px 0;
		margin: 2px 0;
	}
	.anch_it .stickButton2,
	.anch_it .stickButton3{
		width: auto;
		padding-left: 100px;
	}
	.closeButton2, .closeButton3{
		width: 15px;
	}
	.zform .subbl {
		  margin: 15px auto 0 !important;
	}
	.owl-car1 .item .fran .nm {
	  padding: 5px 0px 5px;
	}
	.d_n_795{
		display: none !important;
	}
	.d_b_795{
		display: block !important;
	}
	.news_it_box .top .nm {
	  font: 20px/100% Tahoma;
	  color: #005abf;
	}
	.news_it_box .image {
	  padding: 12px 0px 0px;
	  border-radius: 8px;
	  -moz-border-radius: 8px;
	  -webkit-border-radius: 8px;
	}
	.news_it_box .image img {
	  border-radius: 8px;
	  -moz-border-radius: 8px;
	  -webkit-border-radius: 8px;
	}
	.news_it_box .top .date {
	  display: block;
	  font: 16px/20px Tahoma;
	  color: #808080;
	}
	.news_it .news_it_box {
	  position: relative;
	  min-height: 461px;
	  padding: 20px;
	  margin: 18px 0px 0px;
	  background: -moz-linear-gradient(top, #EEE, #d2d2d2);
	  background: -webkit-linear-gradient(top, #EEE, #d2d2d2);
	  background: -o-linear-gradient(top, #EEE, #d2d2d2);
	  background: -ms-linear-gradient(top, #EEE, #d2d2d2);
	  background: linear-gradient(top, #EEE, #d2d2d2);
	  border-radius: 12px;
	  -moz-border-radius: 12px;
	  -webkit-border-radius: 12px;
	}
	.pager a ,.pager span{
	  margin: 0px 5px 0px 0px;
	}
	.doplinks {
		text-align: center;
	}
	.doplinks a{
		display: block;
		padding: 5px;
	}
	.body_fr_news .art h1,
	.body_fr_news .box h1{
		font-size: 23px;
		line-height: 25px;
	}
	.recklama_rblock_list, .glossary_list{
		margin-left: 18px!important;
	}
	.responsive_fz14{font-size: 14px!important;}
	.responsive_fz16{font-size: 16px!important;}
	.responsive_fz18{font-size: 18px!important;}
}
@media only screen and (max-width: 794px){
	.slidersamenews .visible .longlist .item .fran {
	    margin: 0px 7px 50px;
	}
}
@media only screen and (max-width: 786px){
	.body_fr .toAnchor {
	    width: 62%;
	}	
}
@media only screen and (max-width: 785px){
	
	.feednews label span{
		float: left;
	}
	.feednews label ,
	.feednews .subbl2{
	  clear: both;
	}
}
@media only screen and (max-width: 784px){
	.mrg1, 
	.action .image.mrg1{
		float: left;	
		margin-right: 10px;
	}
	.action .text p{
		display: none;
	}
	.action .name{
		font-size: 18px;
	}
}
@media only screen and (max-width: 771px){
	.subs.sfran.cont .sinp {
	    width: 65% !important;
	}
	.subs.sfran.cont .bx_rigr_txt {
	    width: 165px !important;
	}
	.subs.sfran.cont .profession {
	    font-size: 14px !important;
	}
	.subs.sfran.cont .name {
	    font-size: 17px !important;
	}
}
@media only screen and (max-width: 768px){
	.fransearch{
		display: none;
	}
	#footer {
	  	height: 200px;
	}
	.body_fr .toAnchor {
	    width: 93.5%;
	}
	.selectbl h2,
	.fransearch_itembox_title{
		text-align: center;
	}
	.fransearch_itembox_main{
		display: block;
	}
	.btn_fixed.top_zero{top: 0 !important;}	
	.top_anchor_btn{text-decoration: none;}
	.sticker{
		z-index: 99999;
		height: 67px;
		position: fixed;
		top: 0;
		width: 93.7%;
		background-color: white;padding-top: 10px;
	}
	.d_b_768{
		display: block !important;
	}
	.d_n_768{display: none;}
	.d_bl_768{display: block;}
	.al_c_768 {
	    text-align: center;
	}
	.owl-car1 .fran{
		width: 31%;
	}
	.selectbl {
	  	padding: 12px 32px 15px;
	}
	.threeblock_one_320,.threeblock_two_320,.threeblock_three_320{
		display: none;
		padding: 10px 12px 10px 12px;
		border: 2px solid #dadada;
		border-top: none;
		-webkit-border-radius:0 0 8px 8px;
		border-radius:0 0 8px 8px;
		background-color: #FFF;
		z-index: 100;
		position: absolute;
		width: 100%;
		font-size: 11px;
  		margin: -6px 0 0 0;
  		-webkit-box-sizing: border-box;
  		   -moz-box-sizing: border-box;
  		        box-sizing: border-box;
	}
	.threeblock_one_text{
		border: 2px solid #d8d8d8;
		-webkit-border-radius: 8px;
		border-radius: 8px;
		color: #1F497D;
		font:16px/15px Tahoma;
		text-align: left;
		background-color: #FFF;
		width: 100%;
		display: block;
		height: 29px;
		padding: 0 20px 0 5px;
		outline-style: none;
		position: relative;
		cursor: pointer;
	}
	.threeblock_one_text:hover{
		background-color: #F4F4F4;
	}
	.active.threeblock_one_text{
		z-index: 101;
	}
	.pri{
		padding-top: 0;
		}
	.threeblock_one_text:after{
		content: "";
		position: absolute;
		right: 5px;
		top: 10px;
		background: url(../files/arr_down.png) 0 0 no-repeat;
		width: 15px;
		height: 9px;
		-webkit-transition: transform ease-in 0.2s;
           -moz-transition: transform ease-in 0.2s;
            -ms-transition: transform ease-in 0.2s;
             -o-transition: transform ease-in 0.2s;
                transition: transform ease-in 0.2s;
	}
	.threeblock_one_text.active.threeblock_one_text:after{
        -webkit-transform: rotate(180deg);
           -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
             -o-transform: rotate(180deg);
                transform: rotate(180deg);
        -webkit-transition: transform ease-in 0.2s;
           -moz-transition: transform ease-in 0.2s;
            -ms-transition: transform ease-in 0.2s;
             -o-transition: transform ease-in 0.2s;
                transition: transform ease-in 0.2s;
    }
	.filter_label {
	  display: block;
	  position: relative;
	  padding: 3px 0 0 28px;
	  color: #4c4c4c;
	  font-size: 12px;
	  font-family: Tahoma;
	  margin: 0 0 4px 0;
	  cursor: pointer;
	  overflow: hidden;
	}
	input[type="checkbox"] + .filter_label:before {
	  content: "";
	  position: absolute;
	  top: 50%;
	  margin-top: -10px;
	  left: 0;
	  display: inline-block;
	  width: 14.4px;
	  height: 17px;
	  background: url(../files/fcheck.png) 0 2px no-repeat;
	}
	input[type="checkbox"]:checked+.filter_label:before {
	    background-position: -14.4px 2px;
	}

	.fransearch_itembox{
		padding-bottom: 5px;
		float: left;
		width: 50%;
		position: relative;
	}
	.fransearch_itembox_title{
		  font: 18px Tahoma;
		  color: #1f497d;
		  padding: 0px 32px 10px;
	}
	.fransearch_itembox_title br{display: none;}
	.fransearch_itembox_title span{
		font-size: 13px;
  		line-height: 15px;
  		color: #808080;
	}
	.fransearch_itembox_main .fransearch_itembox:nth-child(1){
		width: 44%;
	}
	.fransearch_itembox_main .fransearch_itembox:nth-child(3){
		padding-bottom: 0;
		float: right;
	}
	.fransearch_itembox_main .fransearch_itembox:nth-child(2){
		float: right;
	}
	.fransearch_itembox_main .fransearch_itembox:nth-child(1) .threeblock_one_text{
		height: 62px;
		text-align: center;
	}
	.fransearch_itembox_main .fransearch_itembox:nth-child(1) .threeblock_one_text:after{
		top: 50%;
		margin-top: -4.5px;
	}
	.quest {
		right: 0;
		top: 0px;
		display: none;
	}
	.rblock,
	.fr_info, 
	.toAnchor,
	.lblock_news{
		width: 100%;
	}
	.lblock{display: none;}
	.lblock{
		display: block;
		width: auto;
		float: none;
	}
	.feednews label .fninp {
	   float: right; 
	   width: 75%; 
	}
	.rblock{float: none;padding-bottom: 0;} 
	.action .adv-block{height: auto;}
	#footer .lblock{
		display: block;
		width: auto;
		float: left;
	}
	#footer .rblock{
		width: 75%;
		float: right;
	}
	.subs.sfran.cont .flblock{
		width: 48% !important;
		float: left;
	}
	.subs.sfran.cont .frblock{
		width: 48% !important;
		float: right;
	}
	.subs.sfran.cont .sinp {
	    width: 50% !important;
	}
	.captcha_img_it2_img {
	    margin-left: 0;
	}
	.captcha_img_it2 {
		margin-left: 42% !important;
	}
	.toAnchor {
	    width: 44.4% !important;
	    bottom: 0;
	}
	.inner{padding: 30px 0 0;}
	.longlist .item .fran .image img {
	  width: auto;
	}
}
@media only screen and (max-width: 768px){
	.longlist .item .fran .image {
	  width: auto!important;
	}
	.body_otzyvy .rblock, 
	.body_otzyvy .lblock,
	.fran_begemot .rblock,
	.fran_begemot .lblock{
		width: 100%;
	}
	.box_reviews_item, .otzyvy_title{
		margin-bottom: 20px;
	}
	.list_otziv{
		width: 100%;
	}
	.list_otziv p{
		font-size: 18px;
	}
}
@media only screen and (max-width: 767px) {

	#header .anons {
	  width: 38%;
	  margin: 0 0 0 24%;
	}
	.fr_info, .toAnchor {
	  width: 62%;
	}
	.flblock .lab span{
		font-size: 17px;
	}
	.slidersamenews .visible .longlist .item .fran {
	  margin: 0 !important;
	  width: 100% !important;
	  min-height: 185px;
	}
	.slidersamenews .longlist .item .fran .image {
	  position: relative;
	  height: 100px !important;
	  display: inline-block;
	  float: left;
	}
	.longlist .item .fran  {
	  float: left;
	  display: inline-block;
	  text-align: center;
	  padding-top: 0;
	  width: 59%;
	}
	.longlist .item .fran .fran_text {
	  float: left;
	  display: inline-block;
	  width: 57%;
	  font-size: 13px;
	}
	.longlist .item .fran .full-sell-link {
	    background-color: #1f497d;
	    clear: both;
	}
	.fran_begemot .longlist .item .fran .gotosell{
		width: 100%;
		background-position: 39% -19px;
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	}
	.fran_begemot .longlist .item .fran .gotosell span{
		border-bottom: none;		
	}
	.longlist .item .fran .full-sell-link .sellink2 span {
	    font-size: 14px;
	}
	.slidersamenews .longlist .item .fran .gotosell span a{
		font-size: 13px;
	}
	.fran_begemot .longlist .item .fran .nm{
		text-align: left;
		min-height: initial;
		padding: 0;
	}
	.fran_begemot .longlist .item .fran .nm a {
		color: #1f497d;
	}
}
@media only screen and (max-width: 745px){
	#header .hright {
	  width: 235px;
	}
	.sinp {
	  width: 55% !important;
	}
}
@media only screen and (max-width: 730px){
	#header .anons {
	  	width: 34%;
	}
	.map_img_head {
	  	left: -20px !important;
	}
	#header .hright {
	  	width: 220px;
	}
	#header .search .sinp{
		width: 154px !important;
	}
	.map_img_head {
	  top: 6px !important;
	}
}
@media only screen and (max-width: 695px){
	.null_margin{
		margin-left: 0 !important;
	}
	.lab.lab_resp_mt{
		margin-right: 10px;
	}
	.subs.sfran.cont .frblock{
		width: 50% !important;
	}
}
@media only screen and (max-width: 685px) {
	.owl-car1 .item .fran .gotosell {
	    margin-top: 5px;
	    height: 30px;
	    margin-bottom: 7px;
	}
}
@media only screen and (max-width: 665px) {
	.subs.sfran.cont .bx_rigr_txt {
		width: 155px !important;
	}
}
@media only screen and (max-width: 660px) {
	#header .hright{
	  margin: 0px;
	}
	.ftext p.copy {
		padding: 0px 0px 8px;
	}
	#franshizInfoGet .frblock.clearfix{
		width: 	100%;
	}
	.owl-car1 .item .fran .gotosell {
	    margin-top: 5px;
	    margin-bottom: 7px;
	}
	.lab.lab_resp_mt{
		margin-top: 25px !important;
	}
	.lblock,.rblock{
		float: none;
	}
	#franshizInfoGet #newSendButton {
	   width: 100%; 
	}
	#header .logo img,
	.fot_link_img,
	.footlinks,
	.fran_begemot .longlist .item .fran .fran_text p br{
		display: none;
	}
	.fran_begemot .longlist .item .fran .gotosell {
		background-position: 39% -19px;
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.slidersamenews .longlist .item .fran .gotosell span {
	    border-bottom: none;
	}
	.slidersamenews .longlist .item .fran .gotosell span a{
		font-size: 13px;
		line-height: 22px;
	}
	.owl-car1 .item .fran .image .td{
		display: inline-block;
		width: auto;
	}
	.owl-car1 .item .fran .image{
		text-align: center;
	}
	#header .logo,
	.fot_link_logo{
		background: url(../files/logo_320.jpg) 0 0 no-repeat;
		width: 178px;
		height: 23px;
		position: static;
		margin: auto;
		display: block;
	}
	#header .anons {
		width: 50%;
		margin: 0px;
	}
	#header .anons .zag,
	#header .anons h1{
		font: 23px Tahoma;
		padding: 8px 5px 8px 0;
		letter-spacing: -1.5px;
		display: block;
	}
	#header .anons p{
		font: 14px/20px Tahoma;
		width: 100%;
		color: #4c4c4c;
	}
	.lblock ,
	.rblock,
	.fr_info,
	.body_fr .toAnchor{
		width: 100%;
	}
	.body_fr .toAnchor {
	    width: 90%;
	}
	#footer .rblock{
		width: 100%;
	}

  	.action .name {
  		font: 20px/20px Tahoma;
  		color: #1f497d;
  		float: none;
  		text-align: center;
  	}
  	.action {
  		margin:10px 0;
  		width: 100%;
  	}
  	.action p{
  		padding: 0;
  	}
  	.action font a,
  	.action font{
  		color: #4c4c4c !important;
  	}
  	.action font a{
  		font-size: 11px;
  	}
  	.action .adv-block{
  		height: auto;
  	}
  	.action .image{
  		margin-bottom: 0;
  	}
	#header {
		height: 160px;
	}
	#footer .lblock{
		width: 100%;
	}
	.fot_link_logo {
		padding-bottom: 8px;
	}
	#big_menu li ,
	#min_menu li{
		font-size: 17px;
		color: #1f497d;
		margin: 0px;
		float: none;
		padding: 4px 0px;

	}
	#big_menu ul, #min_menu ul{
		margin: auto;
		width: 182px;
	}
	#min_menu ul{
		margin-bottom: 5px;
		margin-top: -7px;
	}
	#footer {
		height: auto;
		margin: 15px 0px 0px 0px;
	}
	#footer .ftext p {
		font: 13px/20px Tahoma;
		color: #4c4c4c;
		padding-bottom: 15px;
	}
	#footer .ftext {
		padding: 10px 15px 0px 15px;
		background-color: #f4f4f4;
	}
	#footer .ftext p.copy{
		font: 14px/20px Tahoma;
		padding-bottom: 5px;
	}
	.owl-prev{
		background: url(../files/owl-prev.png) 0 top no-repeat;
		width: 21px;
		height: 37px;
		left: -22px;
		position: absolute;
		top: 50%;
		margin-top: -18.5px;
	}
	.owl-next{
		background: url(../files/owl-next.png) 0 top no-repeat;
		width: 21px;
		height: 37px;
		right: -18px;
		position: absolute;
		top: 50%;
		margin-top: -18.5px;
	}
	.owl-next,
	.owl-prev{
		background-position: 0 bottom;
	}
	.full-sell-link{
		background-color: #1f497d;
	}
	.owl-car1 .item .fran .sellink2 span{
		border: none;
		font: 13px/20px Tahoma;
	}

	.selectbl {
		padding: 0px 0px 20px;
		}
	.pt_15_660{
		padding-top: 15px;
	}
	.action .adv-block{
		margin-top: 5px;
	}
	.mrg1,
	.action .image.mrg1{
		margin-bottom: 5px;
		float: left;
  		margin-right: 10px;
	}
	.action .name{
		font-size: 18px;
		line-height: 19px;
	}
	a.stocks{padding: 0;}
	.fransearch_itembox_title,
	.selectbl h3,
	.selectbl h2,
	.selectbl .zag3{
		font-size: 22px;
		line-height: 18px;
		padding-top: 15px;
		color: #1f497d;
		padding-bottom: 15px;
		font-family: Tahoma;
		font-weight: normal;
		margin: auto;
  		width: 290px;
	}
	.fransearch_itembox_title span,
	.selectbl h3 small,
	.selectbl h2 small,
	.selectbl .zag3 small{
		font-size: 15px;
		padding-left: 25px;
		color: #1f497d;
	}
	.filters {
		padding: 0px 10px 5px 10px;
	}
	.subs{
		border: 2px solid #D8D8D8;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	    padding: 14px 10px 10px 10px;
	    background: #FFF;
	}
	.registration_page .zform{margin: 0;}
	.subs h3,
	.subs h2,
	.subs .zag3 {
	  	font: 22px/22px Tahoma;
		color: #1f497d;
		white-space: inherit;
		text-align: center;
	}
	.subs h3 small,
	.subs h2 small,
	.subs .zag3 small {
		color: #1f497d;
	  	font: 15px/18px Tahoma;
		display: block;
	  	text-align: center;
	}
	.zag3 small {
		font: 15px/18px Tahoma;
		color: #1f497d;
	}
	p.zzag {
	  	font: 16px Tahoma;
	  	text-align: center;
	  	font-weight: 600;
	  	color: #4c4c4c !important;
	}
	.fz15_320{
		font-size: 15px !important;
		font-weight: normal !important;
	}
	span.bbspan{
		font-size: 14px !important;
		border: 2px solid #D8D8D8;
		line-height: 15px !important;
		padding: 6px;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	}
	.flblock .lab span {
		font: 15px Tahoma;
		color: #4c4c4c;
		padding-bottom: 5px;
		display: inline-block;
	}
	.lab_resp_mt{
		margin-top: 13px !important;
	}
	.flblock label,
	.frblock label,
	.labbl,
	.region {
		padding: 5px 0px 0px;
	}
	.sinp{
		font-size: 14px;
		width: 75% !important;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		border: 2px solid #d8d8d8;
		box-shadow: none;
	  	-moz-box-shadow: none;
	   	-webkit-box-shadow: none;
	}
	.txtar,
	.txtar:hover,
	.txtar:focus,
	.sinp:hover,
	.sinp:focus {
		border: 2px solid #d8d8d8;
	}
	#franshizInfoGet div.flblock {
		width: 100%;
		float: none;
		position: relative;
	}
	.zform .checks, .frblock{
		float: none;
	}
	.ui-btn-text{
		display: none;
	}
	.feednews label{
		clear: 	both;
	}
	.captcha_img{
		display: block;
		margin: 0 auto 0;
		width: 135px;
		float: left;
  		padding-bottom: 10px;
  		padding-top: 10px;
	}
	.zform form .warn,
	.textchk{
		font-size: 12px !important;
		line-height: 14px !important;
		color: #4c4c4c !important;
	}
	.zform form .warn {
		padding: 15px 0px 10px;
	}
	.zform .subbl {
	  width: 283px;
	  margin: auto !important;
	    box-shadow: none;
	  -moz-box-shadow: none;
	  -webkit-box-shadow: none;
	  -webkit-border-radius: 100px;
	          border-radius: 100px;
	}
	.news_list .zag2{
		display: block;
		text-align: center;
	}
	#franshizInfoGet #newSendButton,
	.zform .subbl input{
		background-color: #1f497d;
		border: 3px solid #1f497d;
		-webkit-border-radius: 100px;
		border-radius: 100px;
	}
	.blue_btn{
		background-color: #1f497d !important;
		border-color: #1f497d !important;
		color: #fff !important;
	}
  	.owl_carousel_news .owl-nav{
  		display: block;
  	}
  	.owl-car1 .fran {
  		margin: 8px 15px 25px;
  		width:43%;
  	}
  	#franshizInfoGet div.lab {
	  	width: 138px;
	}
	.owl-car1 .item .empty {
		width: 324px;
		margin: 50px auto 0;
	}
	.owl-car1 .item .empty p {
		font: 13px/20px Tahoma;
		padding: 0 9px;
	}
	.owl-car1 .item .empty p a {
		line-height: 20px;
	}
	.owl-car1 .owl-controls{
		display: none !important;
	}

	.owl-car1 .owl-prev.disabled,
	.owl-car1 .owl-prev.disabled:hover,
	.owl-car1 .owl-prev.disabled:active{
		left: -25px;
	}
	.owl-car1 .owl-next.disabled,
	.owl-car1 .owl-next.disabled:hover,
	.owl-car1 .owl-next.disabled:active{
		right: -23px;
	}
	.owl-car1 .owl-next{
		right: -25px;
		z-index: 9;
	}
	.owl-car1 .owl-prev{
		left: -25px;
		z-index: 9;
	}
	.owl-carousel .owl-stage-outer{
		height: auto !important;
		width: 100% !important;
	}
	.owl-carousel .owl-stage,
	.owl-carousel .owl-wrapper,
	.owl-carousel .owl-item{
		-webkit-transform: none !important;
		   -moz-transform: none !important;
		    -ms-transform: none !important;
		     -o-transform: none !important;
		        transform: none !important;
	    -webkit-backface-visibility: inherit;
		  -moz-backface-visibility: inherit;
		  -ms-backface-visibility: inherit;
	    left: 0 !important;
	    width: auto !important;
	}
	.owl-carousel .owl-wrapper-outer {
	  	height: auto !important;
	}
	.grabbing{
		cursor: pointer !important;
	}
	.owl-carousel .owl-item{
		float: none !important;
		transform: none !important;
	}
	.responsive_menu_btn{
		position: relative;
		height: 610px;
		z-index: 9999;
	}
	.responsive_menu_btn:before{
		content: "";
		padding-left: 30px;
		height: 610px;
		z-index: 9999;
		right: 0px;
		position: absolute;
		top: 0;
		bottom: 0;
		width: 30px;
	}
	.show_menu .header_320_box,
	.active.header_320_box{
		right: 0px;
		width: 100%;
		height: 100%;
		overflow: auto;
		-webkit-transition: all 500ms ease;
		-moz-transition: all 500ms ease;
		-ms-transition: all 500ms ease;
		-o-transition: all 500ms ease;
		transition: all 500ms ease;
	}
	.ui-btn{
		display: inline-block;
		float: left;
	}
	.feednews label .fninp{
		width: 75%;
		float: right;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		border: 2px solid #d8d8d8;
		box-shadow: none;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		height: 28px;
		padding: 4px 8px 4px;
	}
	.feednews .subbl2 input{
  		border: none;
	    background: #1F497D;
	}
	.feednews .subbl2{
		border:none;
		clear: both;
		-webkit-border-radius: 5px;
	    border-radius: 5px;
		box-shadow: none;
	    -moz-box-shadow: none;
	    -webkit-box-shadow: none;
	}
	
	::-webkit-input-placeholder{
		color: #4C4C4C;
		opacity: 1;
		transition: opacity 0.3s ease;
	}
	::-moz-placeholder{
		color: #4C4C4C;
		opacity: 1;
		transition: opacity 0.3s ease;
	}
	:-moz-placeholder{
		color: #4C4C4C;
		opacity: 1;
		transition: opacity 0.3s ease;
	}
	:-ms-input-placeholder{
		color: #4C4C4C;
		opacity: 1;
		transition: opacity 0.3s ease;
	}
	:focus::-webkit-input-placeholder {
		color: transparent;
		opacity: 0;
		transition: opacity 0.3s ease;
	}
	:focus::-moz-placeholder          {
		color: transparent;
		opacity: 0;
		transition: opacity 0.3s ease;
	}
	:focus:-moz-placeholder           {
		color: transparent;
		opacity: 0;
		transition: opacity 0.3s ease;
	}
	:focus:-ms-input-placeholder      {
		color: transparent;
		opacity: 0;
		transition: opacity 0.3s ease;
	}
	.owl-prev.disabled,
	.owl-next.disabled{
		background-position: 0 top;
	}
	.button_fltr_it{
		width: 234px;
		height: 28px;
		position: relative;
		text-align: center;
		border:2px solid #D8D8D8;
		font-size: 14px;
		color: #4C4C4C;
		font: 14px/23px Tahoma;
		background: #FFF;
		-webkit-border-radius: 6px;
		        border-radius: 6px;
		cursor: pointer;
		margin:0 auto 10px;
		display: block;
		outline-style: none;
	}
	.button_fltr_it.itm{
		background: #f4f4f4;
	}
	.button_fltr_it i{
		position: absolute;
		right: 13px;
		top: 8px;
		height: 12px;
		width: 12px;
		background: url(../files/close_filter.png) 0 bottom no-repeat;
	}
	.invf{
		font: 14px Tahoma;
	}
	.button_fltr_it i:hover{
		background-position: 0 top;
	}
	.fw600_320{
		font-weight: 600;
		letter-spacing: -0.8px;
	}
	.stick_main {
		width: 290px;
		bottom: 60px;
		z-index: 9;
	}
	.body_fr .ftinner ul {
		padding: 7px 0px 7px 0px;
	}
	.d_n_320{
		display: none !important;
	}
	.d_b_320{
		display: block !important;
	}
	.body_fr .actions .step .num {
		padding-right: 0px;
		position: static;
	}
	.actions{
		width: 99%;
	}
	.fr_info {
		padding: 15px 0px 0px;
	}
	.n_item .image{
		float: none;
	}
	.body_fr .w100_1150 {
		width: auto;margin-left: -267px;
	}
	.art {
		padding: 0px 10px;
	}
	.art.pd1{
		padding-top: 0;
	}
	.stickButton {
		width: 87%;
	}
	.body_fr .subs.sfran {
		padding: 14px 15px 24px 15px;
		margin: 0 10px;
	}
	.body_fr .flblock{
		width: 229px !important;
	}
	.body_fr .frblock{
		width: 229px !important;
		margin-right: 0;
	}
	.sfran .flblock label:last-child{
		padding-top: 0 !important;
	}
	.captcha_img_it2{
		display: block;
		margin: 10px auto -5px !important;
		padding-bottom: 10px;
	}
	.captcha_img_it2_img{
		margin: auto;
		display: block;
	}
	.bx_rigr_txt {
		width: 134px !important;
		margin-left: 7px;
		float: left !important;
	}
	.body_fr .name{
		width: auto;
	}
	.body_fr .bx_rigr_txt .profession{
		font-size: 14px !important;
	}
	.body_fr .zform .subbl{
		min-width: 227px;
		margin-top: 20px !important;
	}
	.done_page .zform .subbl{min-width: 200px;}
	.body_fr .slider .visible, .body_fr .slider.same {
		width: 222px;
	}
	.body_fr .slider.same {
		padding: 22px 20px;
		width: 219px;
		margin: 25px auto 0;
	}
	.top_anchor{
		bottom: 58px;
	}
	.news_list{
	  margin: 10px 0px;
	  border: 2px solid #D8D8D8;
	  padding: 15px 18px 15px 22px;
	}
	.body_fr .ftinner {
		padding: 32px 10px 34px;
		width: 290px;
		margin: auto;
	}
	.body_fr .ftabs{
		width: 250px;
		margin: auto;
	}
	.body_fr .slider .visible .longlist .item .fran{
		margin: 0px 0px 25px 0px;
		width: 220px;
	}
	.slidersamenews .visible .longlist .item .fran {
	    margin: 0px 8px 20px !important;
	}
	.anch_it .stickButton2,
	.anch_it .stickButton3 {
		padding-left: 45px;
	}
	.news_list .new{
		padding: 10px 0 0;
	}
	.news_list .getall{
		margin-top: 10px;
	}
	.news_list .new p{
		font-size: 13px;
		line-height: 16px;
	}
	.body_fr_news .subs.sfran{
		margin: 20px 0 0 0 !important;
	}
	.body_fr .rblock {
		padding-top: 20px;
	}
	.body_fr_news .art h1,
	.body_fr_news .box h1 {
		font: 20px/24px Tahoma;
		padding-top: 10px;
	}
	.slider.same h2 {
		font: 23px Tahoma;
	}
	.fz19_320{
		font-size: 19px;
	}
	.fz22_320{
		font-size: 22px;
	}
	.art blockquote{
		margin: 0 0 0 10px !important;
	}
	.ftinner h2,
	.ftinner .zag2 ,
	.art .zag1,
	.box .zag1{
		font: 22px Tahoma;
	}
	.news_it_box .image{
		overflow: hidden;
	}
	.pager span.arr.curr,
	.pager a ,
	.pager span.curr{
		padding: 6px 10px;
	}
	.pager a,
	.pager span {
		margin: 0px 2px 0px 0px;
	}
	.news_it .news_it_box{
		width: 280px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.n_item{
		padding: 14px 0 0;
	}
	#footer #big_menu a,
	#footer #min_menu a,
	a,
	.invf{
		color: #1f497d !important;
	}
	.enter_page .lform{
		width: auto;
		float: none;
	}
	.slidersamenews .visible .longlist .item .fran {
	  margin: 0 !important;
	  width: 100% !important;
	  min-height: 185px;
	}
	.slidersamenews .longlist .item .fran .image {
	  position: relative;
	  min-height: 130px;
	  display: inline-block;
	  float: left;
	}
	.slidersamenews .longlist .item .fran .image .td {
	  margin-right: 10px;
	  width: auto;
	  display: inline-block;
	}
	.longlist .item .fran .nm {
	  float: left;
	  display: inline-block;
	  text-align: left;
	  padding-top: 0;
	  width: 59%;
	}
	.longlist .item .fran .nm a{
		margin-bottom: 0;
	}
	.longlist .item .fran .fran_text {
	  float: left;
	  display: inline-block;
	  width: 57%;
	  font-size: 13px;
	}
	.popup .longlist .fran .invest{
		font-size: 14px;
	}
	.longlist .item .fran .full-sell-link{
	  clear: both;
	  font-size: 16px;
	  line-height: 15px;
	}
	.longlist .item .fran .image .td img {
	  max-height: 113px!important;
	  width: 150px;
	  height: 113px!important;
	  text-align: left;
	}
	.longlist .item .fran .full-sell-link .sellink2 span{
		font-size: 14px;
	}
}
@media only screen and (max-width: 652px) {
	.subs.sfran.cont .bx_rigr_txt {
		width: 150px !important;
	}
	.art{margin-top: 20px;}
}
@media only screen and (max-width: 642px) {
	.subs.sfran.cont .bx_rigr_txt {
		width: 145px !important;
	}
}
@media only screen and (max-width: 632px){
	.subs.sfran.cont .frblock {
	    width: 100% !important;
	    float: none;
	}
	.subs.sfran.cont .flblock {
		width: 100% !important;
		float: none;
	}
	.subs.sfran.cont .bx_rigr_txt {
	    width: 161px !important;
	}
	.subs.sfran.cont .sinp,
	.subs.sfran.cont .last_lab .sinp{
	    width: 70% !important;
	}
	.subs.sfran.cont .answerer{
		width: 70% !important;
		margin: auto;
	}
	.d_n_632{display: none;}
	.d_b_632{display: block;}
}
@media only screen and (max-width: 630px){
	#sityErr{
		margin: 0 !important;
	}
	.null_margin .input-error{
		float: left;
	}
}
@media only screen and (max-width: 600px){
	.slidersamenews .visible .longlist .item .fran {
	    margin: 0px 7px 15px !important;
	}
	.img_1150_1 {
	    width: 244px !important;
	    height: auto !important;
	}
}
@media only screen and (max-width: 600px){
	.closeButton{
		width: 1em;
	}
}
@media only screen and (max-width: 580px){
	.slidersamenews .visible .longlist .item .fran {
	    margin: 0px 7px 15px !important;
	}
}
@media only screen and (max-width: 578px){
	.body_fr_news .rblock_news .toAnchor{
    	min-height: 40px;
	}
}
@media only screen and (max-width: 571px){
	.stickButton {
	    width: 70.5%;
	}
}
@media only screen and (max-width: 568px){
	.zform form .warn, .textchk{
		font-size: 9px !important;
	}
	.zform form .warn, .textchk {
	    font-size: 9px !important;
	    line-height: 14px !important;
	    color: #4c4c4c !important;
	}
	.registration_page .zform form .warn{font-size: 12px !important;}

}
@media only screen and (max-width: 560px){
	.slidersamenews .visible .longlist .item .fran {
	    margin: 0 0 0 15px !important;
		width: 100% !important;
	}
	.done_page .rblock ul li{float: none;}
}
@media only screen and (max-width: 555px){
	#header .anons p{
		font-size: 12px;
	}
	#header .anons h1,
	#header .anons .zag{
		font-size: 20px;
	}
}
@media only screen and (max-width: 550px){
	.toAnchor {
	    width: 44% !important;
	}
	.fran_begemot .longlist .item .fran .gotosell {
	    background-position: 36% -19px;
	}
}
@media only screen and (max-width: 545px){
	.body_fr .actions .s2 {
	    padding-left: 10px;
	}
	.body_fr .actions .s1{
		padding-left: 10px;
	}
	.body_fr .actions .s3{
		padding-left: 50px;
	}
}
@media only screen and (max-width: 540px){
	.slidersamenews .visible .longlist .item{
		width: 100% !important;
	}
	.slidersamenews .longlist .item .fran .image .td{
		display: inline-block;
	}
	.slidersamenews .longlist .item .fran p br{
		display: none;
	}
	.slidersamenews .longlist .item .fran .sellink2 span{
		font-size: 15px;
	}
	.body_fr_news .slidersamenews .visible .longlist .item .fran {
	    margin: 0px 4px 0px !important;
	    width: 48% ;
	}
	.registration_page .zform .sinp,
	.enter_page .lform .sinp{width: 50% !important;}
}
@media only screen and (max-width: 520px){
	.fran_begemot .longlist .item .fran .gotosell {
	    background-position: 35% -19px;
	}
}
@media only screen and (max-width: 515px){
	#header .hright {
	  width: 200px;
	}
	#header .search{
		overflow: inherit;
	}
	#header .search .ssub{
		margin-top: -5px;
	}
	
	
}
@media only screen and (max-width: 513px){
	.owl-car1 .fran{
		margin: 8px 13px 25px;
	}
}
@media only screen and (max-width: 510px){
	.subs.sfran.cont .frblock{
		width: 100% !important;
	}
	.subs.sfran.cont .answerer{
		width: 74% !important;
		margin: auto;
	}
	.rblock_news .doplinks a{
		float: none;
	}
	.rblock_news .doplinks{
		padding: 0 !important;
	}
	.body_fr .actions .step p b,
	.body_fr .actions .step.s2 p b{
		font-size: 17px;
	}
}
@media only screen and (max-width: 502px){
	.toAnchor {
	    width: 38% !important;
	}
}
@media only screen and (max-width: 495px){
	.subs.sfran.cont .sinp{
	    width: 60% !important;
	}
	.subs.sfran.cont .last_lab .sinp{
		width: 35% !important;
	}
}
@media only screen and (max-width: 490px){
	#header .hright {
	  width: 190px;
	}
	.fran_begemot .longlist .item .fran .gotosell {
	    background-position: 34% -19px;
	}
}
@media only screen and (max-width: 485px){
	.owl-car1 .fran {
	  margin: 8px 10px 25px;
	}
	.body_fr .actions .s3 {
    	padding-left: 42px;
	}
	.body_fr .actions .s1,
	.body_fr .actions .s2 {
	    padding-left: 3px;
	}
}
@media only screen and (max-width: 480px){
	.header_320_box{
		visibility: visible !important;
	}
	.header_box_button{margin-bottom: 10px;}
	.header_320_box.show{
		left: 15px;visibility: visible !important;
	}
	.list_fotter_center{margin: 0 !important;}
	.arr_it,.search_320{
		display: block;
	}
	#big_menu,
	#min_menu{
		width: 49%;
		display: inline-block;
		top: 0;
	}
	.min_list_none,
	#header .hright{
		display: none;
	}
	
	.list_fotter_center,
	.header_box_button{
		display: block;
	}
	#header .anons{
		width: 100%;
	}
	#sticker{
		height: auto;
	}
	#header .anons .zag,
	#header .anons h1{
		text-align: center;
	}
	.list_fotter_center li {
	  font-size: 17px !important;
	  color: #1f497d !important;
	  margin-bottom: 10px;
	  text-align: center;
	  float: none;
	  padding: 4px 0px;
	  list-style-type: none;
	}
	.dis_bl_480{display: block;}
	.dis_non_480{display: none;}
	.zform .subbl.button_submit_480{
		margin-top: 15px !important;
		width: 100%;
	}
	.slidersamenews .visible .longlist .item {
	    width: 100% !important;
	}
	.body_fr_news .slidersamenews .visible .longlist .item .fran{
		margin: 0 0 20px !important;
		width: 100% !important;
	}
	.registration_page .zform .sinp, .enter_page .lform .sinp{width: 40%;}
	.slidersamenews .visible .longlist .item .fran {
	  margin: 0 0 20px !important;
	  width: 100% !important;
	  min-height: 185px;
	}
	
	.fran_begemot #domust{
		margin-top: 25px;
		padding-top: 30px;
	}
	.fran_begemot .blue{
		margin-bottom: 15px;
	}
	.popup .subblfr{
		float: none;
		margin-top: 10px;
		margin-left: 0;
		width: 223px;
		display: inline-block;
	}
	.popup .subblfr input{
		clear: both;
		height: 46px;
	}
	.width100{
		width: 100%;
		text-align: center;
	}
	.box_reviews_item, .box_reviews_item2{
		padding-right: 2px;
	}
	.body_otzyvy .box_reviews_item img, .body_otzyvy .box_reviews_item2 img{
		float: none !important;
		width: 100%;
		height: auto;
	}
	.br_none{
		display: none;
	}
	.mrg1, .action .image.mrg1{
		float: none;
	}
	.slidersamenews .longlist .item .fran .fran_text{
		min-height: initial;
	}
}
@media only screen and (max-width: 479px){
	.slidersamenews .longlist .item .fran .fran_text {
	    min-height: initial;
	}
	.slidersamenews .longlist .item .fran .image {
	  position: relative;
	  min-height: 130px;
	  display: inline-block;
	  float: none;
	}
	.fran_begemot .longlist .item .fran .nm {
	  float: none;
	  display: inline-block;
	  text-align: center;
	  padding-top: 0;
	  width: 100%;
	}
	.longlist .item .fran .fran_text {
	  float: none;
	  display: inline-block;
	  width: 100%;
	  font-size: 13px;
	}
}
@media only screen and (max-width: 478px){
	.subs.sfran.cont .answerer{
		width: 100% !important;
	}
}
@media only screen and (max-width: 450px) {
	#header .hright{
	  margin: 37px 3px 0px 0px;
	}
	.ftext p.copy {
		padding: 0px 0px 8px;
	}
	.lblock,
	.rblock{
		float: none;
	}
	.fran_begemot .longlist .item .fran .gotosell {
	    background-position: 31% -19px;
	}
	.header_320_box{
		visibility: visible !important;
	}
	.header_320_box.show{
		left: 15px;visibility: visible !important;
	}
	#header .logo img,
	#header .hright,
	.fot_link_img,
	.footlinks{
		display: none;
	}
	#header .anons {
		width: 100%;
		margin: 0px 10px 0px 10px;
	}
	#header .anons .zag,
	#header .anons h1{
		font: 23px Tahoma;
		padding: 8px 5px 8px 0;
		letter-spacing: -1.5px;
		display: block;
	}
	#header .anons p{
		font: 14px/20px Tahoma;
		width: 100%;
		color: #4c4c4c;
	}
  	.action .name {
  		font: 20px/20px Tahoma;
  		color: #1f497d;
  		float: none;
  		text-align: center;
  	}
  	.action {
  		margin:8px auto 0;
  		width: 100%;
  	}
  	.action p{
  		padding: 0;
  	}
  	.action font a,
  	.action font{
  		color: #4c4c4c !important;
  	}
  	.action font a{
  		font-size: 15px;
  	}
  	.action .adv-block{
  		height: auto;
  	}
  	.action .image{
  		margin-bottom: 0;
  	}
	.selectbl {
		padding: 0px 0px 15px;
	}
	.threeblock_one_text{
		font:13px/15px Tahoma;
		height: 28px;
		padding: 0 17px 0 3px;
	}
	.pri{
		padding: 0;
	}
	.pt_15_660 {
		padding-top: 0;
	}
	.filter_label{
		padding: 3px 0 2px 28px;
		font-size: 11px;
		margin: 0;
	}
	.header_320_box:after{
		left: -35px;
		padding-left: 35px;
	}
	.threeblock_one_text:after{
		top: 9px;
		right: 2px;
	}
	.sticker{
		height: 65px;
	}
	input[type="checkbox"] + .filter_label:before{
		left: 2px;
	}
	#franshizInfoGet div.lab {
	  width: 121px;
	}
	#sticker {
		height: auto;
	}
	.fransearch_itembox_main{
		display: block;
		margin-right: 4px;
	}
	.fransearch_itembox_main  .fransearch_itembox:last-child{
		padding-bottom: 0;
	}
	.fransearch_itembox_title,
	.selectbl h3,
	.selectbl h2,
	.selectbl .zag3{
		font-size: 18px;
		line-height: 15px;
  		width: 270px;
	}
	.selectbl h2{
		padding: 5px;
	}
	.fransearch_itembox_title{
		width: auto;
		margin: 0 !important;
		padding: 5px;
	}
	.fransearch_itembox_title span{
		padding-bottom: 5px;
		display: inline-block;
	}
	.fransearch_itembox_title span,
	.selectbl h3 small,
	.selectbl h2 small,
	.selectbl .zag3 small{
		font-size: 14px;
		padding-left: 22px;
		color: #1f497d;
	}
	.filters {
		padding: 0px 10px 27px 10px;
	}
	.quest {
		right: 0;
		top: 0px;
		display: none;
	}
	.subs{
		border: 2px solid #D8D8D8;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	    padding: 14px 10px 10px;
	    background: #FFF;
	}
	.subs h3,
	.subs h2,
	.subs .zag3 {
	  	font-size: 18px;
	  	line-height: 18px;
		color: #1f497d;
		white-space: inherit;
	}
	.subs h3 small,
	.subs h2 small,
	.subs .zag3 small {
		color: #1f497d;
	  	font: 14px/14px Tahoma;
	}
	.zag3 small {
		font: 15px/18px Tahoma;
		color: #1f497d;
	}
	p.zzag {
		font: 12px Tahoma !important;
		text-align: center;
		font-weight: 600;
		color: #4c4c4c !important;
	}
	.fz15_320{
		font-size: 15px !important;
		font-weight: normal !important;
	}
	span.bbspan{
		font-size: 12px !important;
		border: 2px solid #D8D8D8;
		line-height: 15px !important;
		padding: 6px;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	}
	.sinp{
		font-size: 14px;
		width: 70% !important;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		border: 2px solid #d8d8d8;
		box-shadow: none;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
	}
	.sinp:hover,
	.sinp:focus {
		border: 2px solid #d8d8d8;
	}
	#franshizInfoGet div.flblock {
	  position: relative;
	}

	.captcha_img{
		display: block;
		margin: 0;
  		padding-bottom: 10px;
  		width: 120px;
	}
	.zform form .warn,
	.textchk{
		font: 13px/14px Tahoma !important;
		color: #4c4c4c !important;
	}
	.zform form .warn {
		padding: 15px 0px 10px;
	}
	.zform .subbl {
		box-shadow: none;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		-webkit-border-radius: 100px;
		border-radius: 100px;
		width: 239px;
	}
	.lab_resp_mt {
	  margin-top: 11px !important;
	}
	#franshizInfoGet #newSendButton,
	.zform .subbl input{
		background-color: #1f497d;
		border: 3px solid #1f497d;
		-webkit-border-radius: 100px;
		border-radius: 100px;
	}
	.owl_carousel_news .owl-nav{
		display: block;
	}
	.owl-car1 .fran {
		margin: 0px 7px 10px;
		width: 45%;
	}
	.owl-car1 .item .fran .image{
		width: 100%;
	}
	.owl-car1 .item .fran .image div a div{
		-webkit-background-size: 100% !important;
		     -o-background-size: 100% !important;
		        background-size: 100% !important;
	}
	.owl-car1 .item .fran .nm a {
	  font: 13px Tahoma;
	}
	.owl-car1 .item .fran .invest,
	.owl-car1 .item .fran p {
	  font-size: 12px;
	  letter-spacing: -0.5px;
	}
	.owl-car1 .item .empty {
		width: 274px;
	}
	.owl-car1 .item .empty p {
		font: 13px/20px Tahoma;
		padding: 0 9px;
	}
  	.owl-car1 .item .empty p a {
  		line-height: 20px;
  	}
	.owl-car1 .owl-prev.disabled,
	.owl-car1 .owl-prev.disabled:hover,
	.owl-car1 .owl-prev.disabled:active{
		left: -25px;
	}
	.owl-car1 .owl-next.disabled,
	.owl-car1 .owl-next.disabled:hover,
	.owl-car1 .owl-next.disabled:active{
		right: -23px;
	}
	.owl-car1 .owl-next{
		right: -25px;
		z-index: 9;
	}
	.owl-car1 .owl-prev{
		left: -25px;
		z-index: 9;
	}
	.responsive_menu_btn{
		position: relative;
		height: 610px;
		z-index: 9999;
	}
	.responsive_menu_btn:before{
		content: "";
		padding-left: 30px;
		height: 610px;
		z-index: 9999;
		right: 0px;
		position: absolute;
		top: 0;
		bottom: 0;
		width: 30px;
	}
	.show_menu .header_320_box,
	.active.header_320_box{
		right: 0px;
		width: 100%;
		height: 100%;
		overflow: auto;
		-webkit-transition: all 500ms ease;
		-moz-transition: all 500ms ease;
		-ms-transition: all 500ms ease;
		-o-transition: all 500ms ease;
		transition: all 500ms ease;
	}
	.ui-btn{
		display: inline-block;
		float: left;
	}
	.feednews label .fninp{
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		border: 2px solid #d8d8d8;
		box-shadow: none;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		height: 28px;
		padding: 4px 8px 4px;
	}
	.feednews .subbl2 input{
		background-color: #1f497d;
  		border: none;
	    background: #1F497D;
	}
	.feednews .subbl2 .inbutt{
		border: none;
		background: #1F497D;
		padding: 10px 0px;
	}
	.feednews .subbl2{
		border:none;
		-webkit-border-radius: 5px;
	    border-radius: 5px;
	}
	.owl-car1 .item .fran .sellink2 {
	  padding: 0px 0px 0px 22px;
	}
	.owl-car1 .item .fran .sellink2 span {
	  font: 11px/20px Tahoma;
	}
	.feednews{
		background: transparent;
		border: 2px solid #d8d8d8;
		margin:8px auto 0px;
	}
	::-webkit-input-placeholder{
		color: #4C4C4C;
		opacity: 1;
		transition: opacity 0.3s ease;
	}
	::-moz-placeholder{
		color: #4C4C4C;
		opacity: 1;
		transition: opacity 0.3s ease;
	}
	:-moz-placeholder{
		color: #4C4C4C;
		opacity: 1;
		transition: opacity 0.3s ease;
	}
	:-ms-input-placeholder{
		color: #4C4C4C;
		opacity: 1;
		transition: opacity 0.3s ease;
	}
	:focus::-webkit-input-placeholder {
		color: transparent;
		opacity: 0;
		transition: opacity 0.3s ease;
	}
	:focus::-moz-placeholder          {
		color: transparent;
		opacity: 0;
		transition: opacity 0.3s ease;
	}
	:focus:-moz-placeholder           {
		color: transparent;
		opacity: 0;
		transition: opacity 0.3s ease;
	}
	:focus:-ms-input-placeholder      {
		color: transparent;
		opacity: 0;
		transition: opacity 0.3s ease;
	}
	.owl-prev.disabled,.owl-next.disabled{
		background-position: 0 top;
	}
	.button_fltr_it{
		width: 234px;
		height: 28px;
		position: relative;
		text-align: center;
		border:2px solid #D8D8D8;
		font-size: 14px;
		color: #4C4C4C;
		font: 14px/23px Tahoma;
		background: #FFF;
		-webkit-border-radius: 6px;
		        border-radius: 6px;
		cursor: pointer;
		margin:0 auto 10px;
		display: block;
		outline-style: none;
	}
	.button_fltr_it.itm{
		background: #f4f4f4;
	}
	.button_fltr_it i{
		position: absolute;
		right: 13px;
		top: 8px;
		height: 12px;
		width: 12px;
		background: url(../files/close_filter.png) 0 bottom no-repeat;
	}
	.invf{
		font: 14px Tahoma;
	}
	.button_fltr_it i:hover{
		background-position: 0 top;
	}
	.fw600_320{
		font-weight: 600;
		letter-spacing: -0.8px;
	}
	.stick_main {
		width: 290px;
		bottom: 60px;
		z-index: 9;
	}
	.body_fr .ftinner ul {
		padding: 7px 0px 7px 0px;
	}
	.d_n_320{
		display: none !important;
	}
	.d_b_320{
		display: block !important;
	}
	.body_fr .actions .step .num {
		padding-right: 0px;position: static;
	}
	.body_fr .actions .step p b, 
	.body_fr .actions .step.s2 p b {
	    font-size: 13px;
	}
	.actions .step p, 
	.actions .step.s2 p {
	    font-size: 10px !important;
	    line-height: 12px !important;
	}
	.fr_info {
		padding: 15px 0px 0px;
	}
	.n_item .image{
		float: none;
	}
	.body_fr .w100_1150 {
		width: auto;
		margin-left: -267px;
	}
	.art {
		padding: 0px 10px;
	}
	.art.pd1{
		padding-top: 0;
	}
	.stickButton {
		width: 87%;
	}
	.body_fr .subs.sfran {
		padding: 14px 15px 24px 15px;
		margin: 0 ;
	}
	.body_fr .flblock{
		width: 229px !important;
	}
	.body_fr .frblock{
		width: 229px !important;
		margin-right: 0;
	}
	.sfran .flblock label:last-child{
		padding-top: 0 !important;
	}
	.captcha_img_it2{
		display: block;
		margin: 10px auto -5px !important;
		padding-bottom: 10px;
	}
	.captcha_img_it2_img{
		margin: auto;
		display: block;
	}
	.bx_rigr_txt {
		width: 134px !important;
		margin-left: 7px;
		float: left !important;
	}
	.body_fr .name{
		width: auto;
	}
	.body_fr .bx_rigr_txt .profession{
		font-size: 14px !important;
	}
	.body_fr .zform .subbl{
		min-width: 227px;
		margin-top: 20px !important;
	}
	.body_fr .slider .visible, .body_fr .slider.same {
		width: 222px;
	}
	.body_fr .slider.same {
		padding: 22px 20px;
		width: 219px;
		margin: 25px auto 0;
	}
	.news_list{
	  margin: 8px auto 0px;
	}
	.body_fr .ftinner {
		padding: 32px 10px 34px;
		width: 225px;
		margin: auto;
	}
	.body_fr .ftabs{
		width: 250px;
		margin: auto;
	}
	.body_fr .slider .visible .longlist .item .fran{
		margin: 0px 0px 25px 0px;
		width: 220px;
	}
	.anch_it .stickButton2,
	.anch_it .stickButton3 {
		padding-left: 45px;
	}
	.body_fr_news .subs.sfran{
		margin: 20px 0 0 0 !important;
	}
	.body_fr .rblock {
		padding-top: 20px;
	}
	.body_fr_news .art h1,
	.body_fr_news .box h1 {
		font: 20px/24px Tahoma;
		padding-top: 10px;
	}
	.slider.same h2 {
		font: 23px Tahoma;
	}
	.fz19_320{
		font-size: 19px;
	}
	.fz22_320{
		font-size: 22px;
	}
	.art blockquote{
		margin: 0 0 0 10px !important;
	}
	.ftinner h2,
	.ftinner .zag2 ,
	.art .zag1,
	.box .zag1{
		font: 22px Tahoma;
	}
	.news_it_box .image{
		overflow: hidden;
	}
	.pager span.arr.curr,
	.pager a ,
	.pager span.curr{
		padding: 6px 10px;
	}
	.pager a,
	.pager span {
		margin: 0px 2px 0px 0px;
	}
	.news_it .news_it_box{
		width: 280px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.n_item{
		padding: 14px 0 0;
	}
	#footer #big_menu a,
	#footer #min_menu a,
	a,
	.invf{
		color: #1f497d !important;
	}
	.fransearch_itembox{
		width: 46%;
	}
	.sticker {
	 	width: 89.7%;
	}
	.contact_page .cform .cleft label .lab{width: 120px;}
	.contact_page .cform .subbl{width: 200px;}
	.done1_page .block_btn .subbl>a{
		font-size: 15px;
		padding: 6px;
	}
	.done1_page .block_btn .subbl{width: 240px !important;}
	.form_new{
		padding: 15px 10px !important;
	}
	.contact_page .cform .cright, .contact_page .cform .cleft{padding: 0 0 10px;}
	.registration_page .zform .lab{width: 120px;}
}
@media only screen and (max-width: 449px){
	.stickButton {
	    width: 73%;
	}
	
}
@media only screen and (max-width: 430px){
	#big_menu li, 
	#min_menu li{
		font-size: 15px;	
	}
	#big_menu{
		top: -7px;
	}
	.filters {
	  padding: 5px;
	}
}
@media only screen and (max-width: 419px){
	.longlist .item .fran .nm a{
		font-size: 18px;
	}
}	
@media only screen and (max-width: 413px){
	.stickButton ins{font-size: 9px;}
}
@media only screen and (max-width: 410px){
	.owl-car1 .fran{
		margin: 0 5px 10px;
	}
	#header .anons h1{
		font-size: 19px;
	}
	#header {
	  	height: 175px;
	}
	.fransearch_itembox {
	  	width: 53%;
	}
	.action .name{
		font-size: 16px;
	}
	.fran_begemot .longlist .item .fran .gotosell {
	    background-position: 23% -19px;
	    margin-bottom: 10px;
	}
	.fransearch_itembox_title,
	.selectbl h2{
		margin-top: 0 !important;
		padding: 10px 0 0 0;
	}
	.feednews label .fninp{
		width: 65%;
	}
	.sinp{
		width: 60% !important;
	}
	.fransearch_itembox_main .fransearch_itembox:nth-child(2),
	.fransearch_itembox_main .fransearch_itembox:nth-child(3) {
	  	margin-right: 0;
	}
	.threeblock_one_320,
	.threeblock_two_320,
	.threeblock_three_320{
		padding: 10px 5px;
	}
	.sticker {
	  	width: 85.5%;
	}
}
@media only screen and (max-width: 405px){
	.toAnchor_item button{
		font-size: 11px;
	}
}
@media only screen and (max-width: 399px){
	.actions .s2 {
	    width: 24%;
	}
	.actions .s3 {
	    width: 40%;
	}
}
@media only screen and (max-width: 392px){
	.longlist .item .fran .fran_text {
		padding-bottom: 5px;
	}
}	
@media only screen and (max-width: 391px){
	.stickButton{
		font-size: 10px;
	}
}
@media only screen and (max-width: 389px){
	.actions .s1 {
	    width: 32%;
	}
	.actions .s2 {
	    width: 26%;
	}
	.actions .s3 {
	    width: 41.5%;
	}
	.stickButton{
		font-size: 9px;
		line-height: 13px;
	}
	.stickButton ins{
		font-size: 8px;
	    line-height: 20px;
	}
}
@media only screen and (max-width: 389px){
.slidersamenews .longlist .item .fran .image, .longlist .item .fran .fran_text, .longlist .item .fran .nm{
		float: none;
		width: 100%;
		text-align: center;
	}
}	
@media only screen and (max-width: 380px){
	#big_menu li, 
	#min_menu li {
	  font-size: 13px;
	}
	#big_menu{
		width: 50%;
		top: -10px;	
	}
	#min_menu{
		width: 45%;
	}
	.img_1150_1 {
	    width: 100% !important;
	    height: auto !important;
	}
}
@media only screen and (max-width: 379px){
	.body_fr_news .subs.sfran.cont .button_submit_480{
		margin-top: 10px !important;
	}
}
@media only screen and (max-width: 371px){
	.body_fr .actions .step p b, 
	.body_fr .actions .step.s2 p b {
	    font-size: 12px;
	}
}
@media only screen and (max-width: 370px){
	.body_fr_news .art h1{
		font-size: 16px;
	}
	.body_fr_news .art{
		padding: 0;
	}
	.toAnchor_item button{
		font-size: 12px;
		line-height: 12px;
	}
	.closeButton{width: 1em;}
}
@media only screen and (max-width: 358px){
	.subs.sfran.cont .bx_rigr_txt {
	    width: 154px !important;
	}
}
@media only screen and (max-width: 353px){
	.body_fr .actions .s3 {
		padding-left: 40px;
	}
}
@media only screen and (max-width: 351px){
	.subs.sfran.cont .profession {
	    font-size: 12px !important;
	}
	.subs.sfran.cont .name {
	    font-size: 13px !important;
	}
	.subs.sfran.cont .bx_rigr_txt {
	    width: 52% !important;
	}
}
@media only screen and (max-width: 350px){
	.body_fr .actions .s1, 
	.body_fr .actions .s2 {
	    padding-left: 1px;
	}
	.body_otzyvy .otzyvy_title font{
		font-size: 20px !important;
	}
	.body_otzyvy .fran_otzivi_title{
		padding-top: 10px;
	}
	.body_otzyvy .fran_otzivi_title font{
		font-size: 25px !important;
	}
}
@media only screen and (max-width: 349px){
	.body_fr .actions .step p b, 
	.body_fr .actions .step.s2 p b {
	}
	.actions .s1 {
	    width: 31.5%;
	}
	.body_fr .actions .s1{
	    padding-right: 15px;		
	}
	.actions .s3 {
	    width: 42.5%;
	}
	.body_fr .actions .s3{
		padding-right: 0;
	}
}
@media only screen and (max-width: 340px){
	.body_fr .subs.sfran.cont .zform .subbl{
		min-width: inherit;
		margin-top: 15px !important;
	}
	.subs.sfran.cont .bx_rigr_txt {
	    width: 50% !important;
	}
}
@media only screen and (max-width: 337px){
	.body_fr .actions .s3 .lt,
	.body_fr .actions .s1 .rt{
		display: none;	
	}
	.actions .s1,
	.actions .s2 {
	    width: 32.5%;
	}
	.actions .s3 {
	    width: 35%;
	}
	.body_fr .actions .s1,
	.body_fr .actions .s2,
	.body_fr .actions .s3{
		padding-left: 3px;
	}
	.art h1, .box h1{
		font-size: 16px;
		line-height: 22px;
	}
	.toAnchor_item button{
		line-height: 15px;
	}
}
@media only screen and (max-width: 330px){
	
	.body_fr .slider .visible .longlist .item .fran {
	    margin: 0 !important;
	    width: 100% !important;
	}
	.mrg1, .action .image.mrg1{
		float: none;
	}
}
@media only screen and (max-width: 325px){
	.body_fr .actions .s1, 
	.body_fr .actions .s2, 
	.body_fr .actions .s3 {
	    padding-left: 1px;
	}
}
@media only screen and (max-width: 324px){
	.subs.sfran.cont .bx_rigr_txt {
	    width: 49% !important;
	}
}
@media only screen and (max-width: 321px){
	.body_fr .actions .s2{
		padding-right: 0;
		padding-left: 0;
	}	
}
@media only screen and (max-width: 320px){
 body{min-width:285px;}
	.owl-car1 .fran{
		margin: 0 20px;
	}
	#big_menu ul, #min_menu ul{
		width: 100%;
	}
	#big_menu li, #min_menu li {
	  font-size: 12px;
	  line-height: 16px;
	}
	.mrg1, .action .image.mrg1{
		float: none;
	}
	#big_menu {
	  top: -4px;
	}
	.captcha_img{
		width: 105px;
	}
	#franshizInfoGet #newSendButton{
		font-size: 18px;
	}
	.feednews .subbl2 .inbutt{
		font-size: 16px;
	}
	.feednews label .fninp{
		width: 60%;
	}
	.pri {
	  font-size: 11px !important;
	}
	#header {
	  	height: 170px;
	}
	.fransearch_itembox_title{
		padding: 0;
	}
	#franshizInfoGet #newSendButton{
		width: 100%;
	}
	#header .anons{
		margin: 0;
	}
	#header .anons p{
		width: 100%;
		font-size: 13px;
		line-height: 16px;
	}
	.zform .subbl{
		width: 80%;
	}
	.owl-car1 .fran {
	  	width: 84%;
	}
	.threeblock_one_text{
		font-size: 12px;
		line-height: 12px;
	}
	span.bbspan{font-size: 9px !important;line-height: 12px !important;}
	.zform form .warn, .textchk {
	    font-size: 14px !important;
	    line-height: 14px !important;
	    color: #4c4c4c !important;
	}
	.news_list .new p,
	.news_list .new .title {
	    font-size: 14px;
	    line-height: 14px;
	}
	.main_img_face{
		width: 80px;
	}
	.main_img_face img{
		width: 100%;
		height: auto;
	}
	.subs.sfran.cont .name {
	    margin-bottom: 5px !important; 
	}
	.subs.sfran.cont .profession {
	    font-size: 12px !important;
	}
	.subs.sfran.cont .captcha_img_it2{
		float: right;
	}
	.subs.sfran.cont .captcha_img_it2_img{
		width: 115px;
	}
	.subs.sfran.cont .last_lab .sinp {
	    width: 42% !important;
	}
	.body_fr_news .art {
	    padding: 0px;
	}
	.body_fr_news .art h1,.fz22_320{
	    font: 18px/22px Tahoma;
	}
	.subs .zag3{
		line-height: 23px;
	}
	.img_center_320{
		display: block;
	    margin: auto;
	    text-align: center;
	    width: 220px;
	}
	.body_fr_news .toAnchor{
		width: 247px;
	}
	.top_anchor {
	    bottom: 60px;
	}
	.fran_text.maxx {
	     padding-bottom: 0; 
	}
	.body_fr .toAnchor {
	    width: 80%;
	}
	.stickButton {
	    width: 80%;
	}
	.br_none320{
		display: none;
	}
	.box_reviews_text.unic{
		margin-bottom: 0;
	}
	.body_otzyvy .list_otziv p{
		font-size: 16px; 
	}
}