html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, img, ins, kbd, q, s, samp, small, strike, strong, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{margin:0px;padding:0px;border:0px;outline:0px;font-size:100%;vertical-align:baseline;background:transparent;}
body{line-height:1;}
ol, ul{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;}
html{height:100%;}
body{margin:0px;min-height:100%;height:100%;width:100%;font:14px Tahoma;background:#FFF}
.clr{clear:both}
.rel{position:relative;}
.abs{position:absolute;}
.left{float:left;}
.right{float:right;}
.lt,.lb,.rt,.rb{position:absolute;}
.lt{left:0px;top:0px;}
.lb{left:0px;bottom:0px;}
.rt{right:0px;top:0px;}
.rb{right:0px;bottom:0px;}
.block{display:block;}
.white{color:#FFF;}
.grey p{color: #808080;float: left;font: 14px/16px Tahoma;position: relative;}
.fcheck.notactive{opacity: 0.5;}
#domust2 {background: none repeat scroll 0 0 #FFFFFF;border: 3px dotted #E6E6E6;border-radius: 22px 22px 22px 22px;box-shadow: 20px 28px 0 rgba(0, 0, 0, 0.3);left: 50%;margin-left: -252px;min-height: 182px;padding: 50px 10px 30px;text-align: center;width: 504px;}
.star-click {width: 21px;height: 21px;position: absolute;left: 0px;z-index: 10000;}
.input-error{color:red;}
a{text-decoration:underline;color:#0063d1;}
.body_otzyvy a{text-decoration:underline;color:#1f497d;}
a:hover{color:#0077ff;}
a:active{color:#4b9fff;}
p, .textchk{font-size:14px;color:#505050}
#wrapper{position:relative;padding:0px;/*width:1110px;*/width: 82.329%;height:auto !important;min-height:100%;height:100%;margin:0 auto;}
#header{position:relative;height:100px;padding:10px 0px 0px;}
#header .logo{position:absolute;display:block;left:1px;top:12px;}
#header .anons{position:relative;top:-8px;float:left;width:575px;margin:0px 0px 0px 255px;}
#header .anons .zag, #header .anons h1{font:30px Tahoma;color:#1f497d}
#header .anons p{font:16px/25px Tahoma;color:#808080}
#header .hright{position:relative;float:right;width:226px;margin:0px 30px 0px 0px;padding:2px 0px 0px;}
#header .minimenu{padding:0;}
#header .minimenu ul{overflow:hidden;}
#header .minimenu ul li{float:right;}
#header .minimenu ul li a{font:13px/24px Tahoma;color:#0063d1;}
#header .minimenu ul li a:hover{font:13px/24px Tahoma;color:#0077ff;}
#header .minimenu ul li a:active{font:13px/24px Tahoma;color:#4b9fff;}
#header .minimenu ul li:first-child{float:left;}
#header .auth{overflow:hidden;padding:0px 0px 24px;margin-top:-3px;}
#header .auth p{font:13px/24px Tahoma;color:#808080;}
#header .auth p a{color:#005abf}
#header .auth p a:hover{color:#0077ff}
#header .auth p a:active{color:#4b9fff}
#header .auth p a.left{margin:0px 24px 0px 0px;}
#header .search{position:relative;overflow:hidden;padding:0;margin-top:-16px;}
#header .search .sinp{float:left;width:165px !important;height:24px;padding:2px 8px 2px;font:200 italic 14px/24px Tahoma;color:#808080;border:1px solid #9f9f9f;border-top:1px solid #999;border-bottom:1px solid #c0c0c0;border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;box-shadow:0px 3px 0px #f2f2f2;-moz-box-shadow:0px 3px 0px #f2f2f2;-webkit-box-shadow:0px 3px 0px #f2f2f2}
#header .search .sinp:hover,#header .search .sinp:focus{border-color:#666}
#header .search .ssub{position:relative;float:right;width:31px;height:34px;border:none;cursor:pointer;overflow:hidden;background:url(../files/ssub-bg.png) 0px 1px no-repeat;}
#header .search .ssub:hover{background-position:-31px 0px;}
#header .search .ssub:active{background-position:-62px 0px;}
#content{position:relative;margin:0;}
#content.doneContent{height:470px;}
.lblock{position:relative;float:left;width:225px;}
.rblock{position:relative;float:right;width:856px;}
.rblock ul{list-style-type:disc;margin:0 0 0 18px;}
.rblock ul li{font-size:14px;color:#505050}
img.right{margin:0px 0px 10px 10px;}
img.left{margin:10px 10px 0px 0px;}
.twoblock{position:relative;float:left;width:49%;padding:0px 1% 0px 0px;}
.action{height:auto;overflow:hidden;position:relative;text-align:center;padding:12px 18px 12px 22px;border:2px solid #d8d8d8;background:#f6f6f6 url(../files/lshad.png) 0px 100% no-repeat;border-radius:24px;-moz-border-radius:24px;-webkit-border-radius:24px;}
.action .adv-block{height:338px;margin-top:12px;}
.action .image{margin-bottom:10px;padding:0px 0px 0px;}
.action .image a{line-height:20px;}
.action h2,.action .zag2{font:20px/20px Tahoma;color:#1f497d;padding:0px 0px 20px;}
.action .name{font:20px/20px Tahoma;color:#005abf;}
.action p{padding:18px 0px 13px;font:14px/16px Tahoma;color:#000}
.sublink{position:absolute;left:-2px;bottom:-72px;width:201px;padding:40px 0px 30px 20px;border:2px solid #d8d8d8;border-top:none;text-align:left;border-radius:0px 0px 24px 24px;-moz-border-radius:0px 0px 24px 24px;-webkit-border-radius:0px 0px 24px 24px;}
.news_list,.lcblock{position:relative;padding:21px 18px 36px 22px;margin:41px 0px 0px;overflow:hidden;border:2px solid #ececec;background:#FFF;border-radius:24px;-moz-border-radius:24px;-webkit-border-radius:24px;}
.slider.same{position:relative;padding:22px 28px 71px 30px;margin:41px 0px 0px;overflow:hidden;border:2px solid #ececec;background:#FFF;border-radius:24px;-moz-border-radius:24px;-webkit-border-radius:24px;height:315px;}
.slider.same h2{color:#1F497D;font:29px Tahoma;white-space:nowrap;}
.slider.same p small{color:#808080;font:16px/20px Tahoma;}
.news_list h2,.lcblock h2,.news_list .zag2,.lcblock .zag2{font:20px/20px Tahoma;color:#1f497d;padding:0px 0px 1px;}
.news_list .new{position:relative;padding:19px 0px 0px;}
.news_list .new .dt{display:block;font:16px/21px Tahoma;color:#808080}
.news_list .new .title{font:16px/20px Tahoma;color:#0063d1}
.news_list .new .title:hover{color:#0077ff}
.news_list .new .title:active{color:#4b9fff}
.news_list .new p{padding:11px 0px 0px;font:14px/20px Tahoma;color:#000}
.news_list .getall{float:left;font:14px/20px Tahoma;color:#0063d1;margin:20px 0px 0px;}
.news_list .getall:hover{color:#0077ff}
.news_list .getall:active{color:#4b9fff}
.feednews{position:relative;margin:39px 0px 0px;padding:19px 22px 13px 20px;background:#1f497d;border:2px solid #87befc;border-radius:24px;-moz-border-radius:24px;-webkit-border-radius:24px;}
.feednews label{display:block;}
.feednews label span{display:block;font:16px/20px Tahoma;color:#FFF;padding:0px 0px 10px 2px;}
.feednews label .fninp{width:161px;height:24px;padding:0px 8px 4px;margin:0px 0px 10px;font:200 14px/24px Tahoma;color:#000;border:1px solid #a1a1a1;border-top:1px solid #999;border-bottom:1px solid #c0c0c0;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;box-shadow:0px 3px 0px #1d4577;-moz-box-shadow:0px 3px 0px #1d4577;-webkit-box-shadow:0px 3px 0px #1d4577}
.feednews .subbl2{position:relative;border:1px solid #1d7ae0;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;box-shadow:0px 3px 0px #1d4577;-moz-box-shadow:0px 3px 0px #1d4577;-webkit-box-shadow:0px 3px 0px #1d4577}
.feednews .subbl2 .inbutt{position:relative;z-index:1;display:block;text-align:center;padding:3px 0px 5px 0px;border:3px solid #005abf;font:18px/18px Tahoma;color:#FFF;white-space:normal;cursor:pointer;background:#0063d1;border-radius:10px;-moz-border-radius:10px;}
.feednews .subbl2 input{position:absolute;z-index:2;width:100%;height:100%;left:0;top:0;display:block;cursor:pointer;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;opacity:0;-moz-opacity:0;-khtml-opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);}
.feednews .subbl2:hover input{background:#006be6}
.feednews .subbl2:active{position:relative;top:1px;background:#006be6}
.feednews .subbl2 input:disabled{background:#e6e6e6;border-color:#bfbfbf}
.feednews .subbl2 input{display:none}
.feednews .subbl2 .stext{position:relative;left:0px;top:0px;z-index:1;text-align:center;display:block;padding:3px 0px 5px 0px;width:171px;border:3px solid #005abf;font:18px/18px Tahoma;color:#FFF;white-space:normal;cursor:pointer;background:#0063d1;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;}
.fransearch{position:relative;padding:0px 24px 0px 28px;border:2px solid #0163d1;background:-moz-linear-gradient(top, #fafafa, #efefef);background:-webkit-linear-gradient(top, #fafafa, #efefef);background:-o-linear-gradient(top, #fafafa, #efefef);background:-ms-linear-gradient(top, #fafafa, #efefef);background:linear-gradient(top, #fafafa, #efefef);-pie-background:linear-gradient(top, #fafafa, #efefef);border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;}
.threeblock{position:relative;float:left;width:30%;margin:0px 3% 0px 0px;padding:10px 0px 0px;}
.fransearch h3,.fransearch .zag3{display:block;font:30px Tahoma;color:#1f497d}
.fransearch h3 small,.fransearch .zag3 small{font:16px/20px Tahoma;color:#808080}
.range{position:relative;clear:both;margin:8px 0px 0px;width:222px;height:43px;background:url(../files/range-bg.png) 0px 19px repeat-x}
.range .ui-slider-range.ui-widget-header{position:absolute;top:17px;height:6px;background:#0063d1}
.range .hndleft{position:absolute;margin-left:-12px;left:0px;top:0px;width:12px;height:27px;background:url(../files/handle.png) 0px 0px no-repeat}
.range .hndright{position:absolute;right:0px;bottom:0px;width:12px;height:27px;background:url(../files/handle.png) -12px 0px no-repeat}
.min{display:block;text-align:left;}
.max{display:block;text-align:right;}
.min p{font:14px/14px Tahoma;color:#000;}
.max p{font:14px/14px Tahoma;color:#000;}
.threeblock h4,.threeblock .zag4{font:400 20px/30px Tahoma;color:#4c4c4c}
.invest{padding:5px 0px 0px;}
.region .list span.last{display:inlin-block;padding:0px 17px 0px 0px;font:20px/30px Tahoma;color:#005abf;cursor:pointer;background:url(../files/region-trig.png) 100% 13px no-repeat;}
.region .list span b{background:url(../files/dashed.png) 0px 100% repeat-x}
.region .list span:hover b{background:none;}
.threeblock label{display:block;overflow:hidden;padding:0px 0px 4px;}
.fcheck{position:relative;top:2px;float:left;width:14px;height:17px;margin:0px 14px 0px 0px;overflow:hidden;background:url(../files/fcheck.png) 0px 0px no-repeat}
.fcheck.active{background-position:-14px 0px;}
.fcheck input{visibility:hidden;}
.fcheckblock3{position:relative;top:2px;float:left;width:14px;height:17px;margin:0px 14px 0px 0px;overflow:hidden;background:url(../files/fcheck.png) 0px 0px no-repeat}
.fcheckblock3.active{background-position:-14px 0px;}
.fcheckblock3 input{visibility:hidden;}
.name{float:left;width:192px;}
.name p{position:relative;float:left;font:14px/16px Tahoma;color:#000}
.chform{padding:6px 0px 0px;}
.cfsearch{position:absolute;top:100%;left:50%;margin-left:-110px;text-align:center;display:block;width:221px;height:14px;border:2px solid #0163d1;border-radius:0px 0px 10px 10px;-moz-border-radius:0px 0px 10px 10px;-webkit-border-radius:0px 0px 10px 10px;border-top:none;background:#efefef;}
.cfsearch span{position:relative;top:-12px;font:14px/16px Tahoma;cursor:pointer;color:#005abf;background:url(../files/cfsearch-bg.png) 0px 100% repeat-x}
.cfsearch span:hover{background:none;}
.selectbl{position:relative;padding:20px 32px 30px;}
.filters{position:relative;padding:0px 0px 27px;margin-top: 10px;}
.invf{cursor:pointer;display:inline-block;font:16px Tahoma;color:#0063d1;height:18px;padding:0px 0px 0px 24px;background:url(../files/invf.png) 0px 0px no-repeat}
.invf.clk{background-position:0 -16px;}
.invf b{position:relative;top:-5px;font-weight:200;border-bottom:1px dashed #0063d1}
.selectbl h3,.selectbl h2,.selectbl .zag3{font:30px Tahoma;color:#1f497d;padding:0px 0px 0px;}
.selectbl h3 small,.selectbl h2 small,.selectbl .zag3 small{font:16px/20px Tahoma;color:#808080}
.slider{position:relative;width:796px;height:550px;padding:0px 0px 0px 0px;}
.slider .prev,.slider .next{position:absolute;top:28%;margin-top:-10px;display:block;width:70px;height:260px;overflow:hidden;cursor:pointer;}
.slider .prev{left:-50px;background:url(../files/left-2.png);z-index:1000;}
.slider .next{right:-55px;background:url(../files/right-2.png);z-index:1000;}
.slider .prev:hover{background:url(../files/left-4.png);z-index:1000;}
.slider .next:hover{background:url(../files/right-4.png);z-index:1000;}
.slider .prev:active{height:22px;background:url(../files/left-3.png);z-index:1000;}
.slider .next:active{height:22px;background:url(../files/right-3.png);z-index:1000;}
.slider .prev.dis,.slider .prev.dis:hover,.slider .prev.dis:active{left:-50px;background:url(../files/left-1.png);z-index:1000;}
.slider .next.dis,.slider .next.dis:hover,.slider .next.dis:active{right:-55px;background:url(../files/right-1.png);z-index:1000;}
.slider .visible{position:relative;/*width:796px;*/width:100%;/*height:586px;*/overflow:hidden;}
.slider .visible .longlist{position:relative;/*width:9999px;*/left:0px;top:0px;}
.slider .visible .longlist .item{float:left;width:796px;}
.slider .visible .longlist .item .fran{display:inline-block;text-align:center;width:28.22%;/*margin:0px 38px 45px 0px;*/margin: 0px 10px 0px;}
.longlist .item .fran .image{position:relative;min-height:90px;}
.longlist .item .fran .image .td{width:224px;height:90px;display:table-cell;vertical-align:middle;text-align:center;}
.longlist .item .fran .image img{max-height:90px;}
.longlist .item .fran .nm{padding:25px 0px 7px;min-height: 50px;}
.longlist .item .fran .nm a{font:20px Tahoma;color:#005abf}
.longlist .item .fran .nm a:hover{color:#0077ff}
.longlist .item .fran .nm a:active{color:#4b9fff}
.longlist .item .fran p{font:14px Tahoma;color:#4c4c4c}
.longlist .item .fran .invest{font:14px Tahoma;color:#000002;}
.longlist .item .fran .sellink,.longlist .item .fran .sellink2,.longlist .item .fran .gotosell{position:relative;margin:10px 0px 0px;display:inline-block;padding:0px 0px 0px 28px;height:19px;cursor:pointer;overflow:hidden;background:url(../files/selectbl-bg.png) 0px 0px no-repeat}
.longlist .item .fran .sellink span,.longlist .item .fran .sellink2 span,.longlist .item .fran .gotosell span{position:relative;top:0px;display:block;padding:0px 0px 1px;font:16px/16px Tahoma;color:#1f497d;border-bottom:1px dashed #005abf;font-weight:bold;}
.longlist .item .fran .sellink:hover span,.longlist .item .fran .sellink2:hover span,.longlist .item .fran .gotosell:hover span{border:none;padding-bottom:1px;}
.longlist .item .fran .gotosell{background-position:0px -19px;}
.longlist .item .empty{position:relative;width:788px;height:326px;padding:120px 0px 0px;margin:80px 0px 0px;border:3px dotted #e6e6e6;text-align:center;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;}
.longlist .item .empty h4,.longlist .item .empty .zag4{font:200 30px Tahoma;color:#4c4c4c}
.longlist .item .empty p{font:16px/30px Tahoma;color:#808080}
.longlist .item .empty p a{font:16px/30px Tahoma;color:#0063d1;text-decoration:none;border-bottom:1px dashed #0063d1;}
.longlist .item .empty p a:hover{border:none;padding:0px 0px 1px;}
.subs{position:relative;padding:14px 36px 24px 20px;margin:0;border:2px solid #0163d1;background:-moz-linear-gradient(top, #fafafa, #efefef);background:-webkit-linear-gradient(top, #fafafa, #efefef);background:-o-linear-gradient(top, #fafafa, #efefef);background:-ms-linear-gradient(top, #fafafa, #efefef);background:linear-gradient(top, #fafafa, #efefef);border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;}
.subs2{position:relative;padding:14px 36px 24px 20px;margin-top:40px;border:0;background:-moz-linear-gradient(top, #fafafa, #efefef);border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;}
.subs2 p{font:16px/25px Tahoma;color:#808080;padding-bottom:15px;}
.subs2 h1{font:30px Tahoma;color:#808080;padding-bottom:15px;}
.subs2 h2{font:30px Tahoma;color:#808080;padding-bottom:15px;}
.subs h3,.subs h2,.subs .zag3{font:29px Tahoma;color:#1f497d;white-space:nowrap;}
.subs h3 small,.subs h2 small,.subs .zag3 small{font:16px/20px Tahoma;color:#808080}
.nostyle{border:none;background:none;margin:0px;padding-top:2px;}
.frsel{position:relative;padding:12px 0px 12px 0px;}
.frsel .list{position:relative;margin:10px 0px 0px;padding:20px;overflow:hidden;background:#FFF;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;}
.frsel .list .item{position:relative;float:left;width:230px;height:76px;margin:4px 16px 6px 4px;}
.frsel .list .item .image{float:left;width:90px;text-align:center;}
.frsel .list .item .image img{max-height:72px;max-width:90px;}
.frsel .list .item .info{float:left;margin-left:14px;width:124px;}
.txtar{width:789px;height:85px;padding:4px 2px 4px 2px;font-family:Tahoma;border:1px solid #999;background:#FFF;resize:vertical;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;box-shadow:0px 3px 0px #ebebeb;-moz-box-shadow:0px 3px 0px #ebebeb;-webkit-box-shadow:0px 3px 0px #ebebeb}
.flblock{float:left;width:290px;}
.frblock{float:right;width:418px;}
.flblock label,.frblock label,.labbl,.region{position:relative;display:block;padding:20px 0px 0px;}
.region{position:relative;display:block;padding:0px 0px 0px;}
.flblock .lab,.frblock .lab{float:left;width:116px;}
.frblock .lab{position:relative;top:0px;width:250px}
.flblock .lab span{font:200 20px Tahoma;color:#4c4c4c}
.flblock div span{font:200 20px Tahoma;color:#4c4c4c}
.frblock .lab span{font:200 20px Tahoma;color:#4c4c4c}
.frblock .lab p{font:200 14px/16px Tahoma;color:#808080}
.sinp, #main_UF_CNTRY_USER input.fields, #main_UF_INVESTMENT input.fields{width:148px;height:26px;padding:0px 8px;font-family:Tahoma;border:1px solid #999;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;box-shadow:0px 3px 0px #ebebeb;-moz-box-shadow:0px 3px 0px #ebebeb;-webkit-box-shadow:0px 3px 0px #ebebeb}
.sinp:hover,.sinp:focus{border:1px solid #666}
.zform form .warn{display:block;padding:15px 0px 30px;font:14px/20px Tahoma;color:#000001}
p.zzag{font:20px Tahoma;color:#4c4c4c}
p.zzag span{font:18px Tahoma;}
.zform p.zzag{padding:7px 0px 4px;}
.zform .name2{padding:0px 0px 0px 32px}
.zform .checks{width:543px;float:left;}
.zform .checks .chk{display:block;padding:0px 0px 12px;}
.zform .subbl{position:relative;margin-left:20px;min-width:182px;float:right;padding:0px;border:1px solid #1d7ae0;border-radius:20px;-moz-border-radius:20px;-webkit-border-radius:20px;box-shadow:0px 3px 0px #e5e5e5;-moz-box-shadow:0px 3px 0px #e5e5e5;-webkit-box-shadow:0px 3px 0px #e5e5e5}
.zform .subbl input{display:block;margin:0px;height:40px;padding:1px 8px 5px 8px;width:100%;border:3px solid #1f497d;font:18px/18px Tahoma;color:#FFF;white-space:normal;cursor:pointer;background:#1f497d;border-radius:20px;-moz-border-radius:20px;-webkit-border-radius:20px;}
.info p,.info p a{font:16px/16px Tahoma;color:#000;text-decoration:none;}
.info p a{color:#0063D1;text-decoration:underline;}
.info p a:hover{color:#0077FF;}
.info .del{display:block;margin:3px 0px 0px;padding:0px 0px 0px 15px;width:15px;height:20px;cursor:pointer;background:url("../files/filters-item-bg.png") 0px 0px no-repeat}
.info .del span{position:relative;top:-1px;font:16px/16px Tahoma;color:#005abf;border-bottom:1px dashed #005abf}
.info .del:hover{background-position:0px -23px}
.info .del:active{background-position:0px -46px}
.info .del:hover span{color:#0077ff;}
.info .del:active span{color:#4b9fff}
.quest{position:absolute;margin-left:5px;display:inline-block;width:11px;height:15px;cursor:pointer;background:url(../files/quest-bg.png) 0px 0px no-repeat}
.quest:hover{background-position:-11px 0px;}
.quest:active{background-position:-22px 0px;}
.filters .item{position:relative;font:16px/16px Tahoma;color:#808080;float:left;cursor:pointer;height:21px;padding:2px 22px 0px 10px;margin:0px 9px 7px 0px;background:#e5e5e5;border-radius:12px;-moz-border-radius:12px;-webkit-border-radius:12px;}
.filters .item span{position:absolute;top:0px;right:6px;display:block;width:12px;height:23px;overflow:hidden;background:url(../files/filters-item-bg.png) 0px 0px no-repeat;}
.filters .item:hover span{background-position:0px -23px}
.filters .item:active span{background-position:0px -46px}
.filters .item.blue{background:#6aa6f8;padding:2px 10px 0 10px;color:#fff;}
.filters .item.blue span{display:none;}
.lcblock2{position:relative;z-index:3;float:left;width:280px;}
.rcblock2{position:relative;float:right;width:518px;}
.lcblock2 h4,.rcblock2 h4,.lcblock2 .zag4,.rcblock2 .zag4{font:20px/30px Tahoma;color:#4c4c4c}
.rcblock2 .invest{padding:0px;}
.rcblock2 .invest .min{float:left;padding:0px 0px 8px;}
.rcblock2 .invest .max{float:right;padding:0px 0px 8px;}
.rcblock2 .invest .range{position:relative;left:12px;width:418px;}
.rcblock2 .invest .range .hndright{top:0px;background-position:-36px 0px;}
.hidregions{position:absolute;z-index:3;top:-16px;left:-40px;display:none;padding:38px;width:528px;border:3px dotted #e6e6e6;background:#FFF;background-origin:border-box;border-radius:12px;-moz-border-radius:12px;-webkit-border-radius:12px;box-shadow:16px 25px 0px rgba(0,0,0,0.4);}
.hidregions .chk{display:block;overflow:hidden;padding:0px 0px 6px;}
.ok{position:absolute;bottom:18px;right:20px;display:block;width:31px;height:34px;cursor:pointer;background:url(../files/ok.png) 0px 0px no-repeat}
.actions{position:relative;height:78px;padding:0px 2px;border-top:2px solid #91c5ff;border-bottom:2px solid #0264d2;background:url(../files/actions-bg.png) 0px 0px repeat-x;border-radius:12px;-moz-border-radius:12px;-webkit-border-radius:12px;}
.actions .step{position:relative;float:left;height:78px;text-decoration:none;background:url(../files/actions-step-bg.png) 0px 0px repeat-x}
.actions .step .num{position:absolute;left:-30px;top:0px;}
.actions .s1{width:18.5%;height:64px;padding:16px 38px 0px 60px;border-radius:12px 0px 0px 12px;-moz-border-radius:12px 0px 0px 12px;-webkit-border-radius:12px 0px 0px 12px;}
.actions .s1 .rt{display:block;width:38px;height:78px;background:url(../files/step-s1.png) 0px 0px no-repeat}
.actions .s2{width:15%;height:64px;padding:16px 60px 0px 58px;background:none;}
.actions .s3{width:27.5%;height:64px;padding:16px 18px 0px 98px;border-radius:0px 12px 12px 0px;-moz-border-radius:0px 12px 12px 0px;-webkit-border-radius:0px 12px 12px 0px;}
.actions .s3 .lt{display:block;width:38px;height:78px;background:url(../files/step-s3.png) 0px 0px no-repeat}
.actions .step p{position:relative;font:16px/20px Tahoma;color:#808080}
.actions .step p b{font:26px/20px Tahoma;color:#1f497d}
.actions .step.s2 p{font:16px/20px Tahoma;color:#FFF}
.actions .step.s2 p b{font:26px/20px Tahoma;color:#FFF}
.inner{position:relative;padding:60px 30px 0px 30px;}
.inner h2,.inner .zag2{font:30px/20px Tahoma;color:#1f497d;padding:0px 0px 10px;}
.inner h2 small,.inner .zag2 small{font:16px/20px Tahoma;color:#808080}
.lform{position:relative;float:left;width:288px;}
.lform label{display:block;padding:30px 0px 0px;}
.lform .lab{float:left;width:97px;}
.lform .sinp{width:165px;}
.lform .lab span{font:20px Tahoma;color:#4c4c4c}
.lform .subbl{position:relative;width:175px;float:right;margin:19px 14px 0px 0px;padding:0px;border:1px solid #1d7ae0;border-radius:20px;-moz-border-radius:20px;-webkit-border-radius:20px;box-shadow:0px 3px 0px #e5e5e5;-moz-box-shadow:0px 3px 0px #e5e5e5;-webkit-box-shadow:0px 3px 0px #e5e5e5}
.lform .subbl input{display:block;margin:0px;padding:3px 4px 5px 4px;width:100%;border:3px solid #005abf;font:18px/18px Tahoma;color:#FFF;white-space:normal;cursor:pointer;background:#0063d1;border-radius:20px;-moz-border-radius:20px;-webkit-border-radius:20px;}
.lform .chk{display:block;clear:both;float:right;padding:20px 0px 0px;}
.lform .chk .name{width:160px;}
.lform .chk .name p{font:14px Tahoma;color:#808080}
.dblock{float:right;}
.forget{width:370px;padding:26px 0px 0px;}
.forget div{overflow:hidden;padding:0px 0px 8px;}
.forget a{font:20px/20px Tahoma;float:left;border-bottom:1px dashed #0063D1;text-decoration:none;}
.forget p{font:16px/20px Tahoma;color:#4c4c4c}
.rblock ul.tabs{list-style-type:none;margin:0;}
.tabs{list-style-type:none;margin:0;padding:0px 0px 45px 6px;overflow:hidden;background:url(../files/tabs-bg.png) 0px 100% no-repeat}
.tabs li{float:left;height:28px;margin-left:6px;padding:13px 26px 0px;text-align:center;}
.tabs li:first-child{float:left;height:28px;padding:13px 26px 0px;text-align:center;}
.tabs li span{display:inline-block;cursor:pointer;font:17px/21px Tahoma;color:#005abf;background:url(../files/tabs-li-bg.png) 0px 100% repeat-x}
.tabs li.current{position:relative;height:30px;padding:9px 24px 0px;top:2px;border:2px solid #e9e9e9;border-bottom:none;background:#FFF;border-radius:10px 10px 0px 0px;-moz-border-radius:10px 10px 0px 0px;-webkit-border-radius:10px 10px 0px 0px;}
.tabs li.current span{font:17px/21px Tahoma;cursor:default;color:#4c4c4c;background:none;}
.cform{position:relative;padding:57px 0px 0px 0px;}
.cform .cleft{float:left;width:356px;}
.cform .cleft label{display:block;padding:0px 0px 30px;}
.cform .cleft label .lab{float:left;width:100px;margin-right:10px;padding:1px 0px 0px;font:200 20px Tahoma;color:#4c4c4c}
.cform .cleft label .sinp{width:228px;}
.cform .cright{position:relative;top:-1px;float:right;width:388px;}
.cform .cright label{display:block;}
.cform .cright label .lab{float:left;width:120px;margin-right:10px;font:200 20px Tahoma;color:#4c4c4c}
.cform .cright label .txtar{float:left;width:250px;height:206px;}
.ui-autocomplete{list-style-type:none;margin:0;width:222px;border:1px solid #666;background:#FFF;z-index:4;padding:4px 0px;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;}
.ui-autocomplete li{cursor:pointer;padding:2px 4px 2px;}
.ui-autocomplete li:hover{background:#2271d8;color:#FFF;}
.cform .subbl{position:relative;width:250px;float:right;margin:19px 3px 0px 0px;padding:0px;border:1px solid #1d7ae0;border-radius:20px;-moz-border-radius:20px;-webkit-border-radius:20px;box-shadow:0px 3px 0px #e5e5e5;-moz-box-shadow:0px 3px 0px #e5e5e5;-webkit-box-shadow:0px 3px 0px #e5e5e5}
.cform .subbl input{display:block;margin:0px;padding:3px 4px 5px 4px;width:100%;border:3px solid #005abf;font:18px/18px Tahoma;color:#FFF;white-space:normal;cursor:pointer;background:#0063d1;border-radius:20px;-moz-border-radius:20px;-webkit-border-radius:20px;}
.cform .checks{padding:23px 0px 0px;float:left;width:506px;}
.cform .warn{display:block;}
.cform p{font:14px/17px Tahoma;color:#000001}
.art{padding:74px 30px 0px 30px;}
.art h1,.box h1{display:block;padding:0px 0px 0px;font:30px/32px Tahoma;color:#1f497d}
.art .zag1,.box .zag1{display:block;padding:0px 0px 10px;font:30px/32px Tahoma;color:#1f497d}
.art .zagl,.box .zagl{padding:0px 0px 10px;}
.art h1 small,.art h2 small, .box h2 small, .box h1 small,.art .zag1 small,.box .zag1 small{font:16px/20px Tahoma;color:#808080}
.art h3,.box h3{padding:10px 0px;font:20px/20px Tahoma;color:#1f497d}
.art p,.art ul li,.art ol li,.box ol li,.box ul li{font:16px/20px Tahoma;color:#4c4c4c}
.art ul li,.box ul li{background:url(../files/ultype.png) 0px 11px no-repeat}
.art ol,.box ol{list-style-type:decimal;}
.art ul li,.art ol li,.box ul li,.box ol li{color:#1f497d;padding:2px 0px 0px 12px;}
.art ul li span,.art ol li span,.box ul li span,.box ol li span{color:#4c4c4c}
.art ul,.art ol,.box ul,.box ol{padding:10px 0px 10px 14px;list-style-position:inside;list-style-type:none;}
.art ul li ul li,.art ol li ul li,.box ul li ul li,.box ol li ul li{background:url(../files/ultype2.png) 0px 50% no-repeat}
.art p,.box p{padding:10px 0px;}
.art p.dscr,.box p.dscr{font:20px/20px Tahoma;color:#808080}
.art p.source,.box p.source{float:right;padding:7px 0px 0px;color:#808080}
.doplinks{position:relative;clear:both;padding:20px 0px 0px;}
.doplinks a{font:16px/20px Tahoma;}
.img_slider{position:relative;left:-30px;width:851px;height:227px;margin:26px 0px 34px;border:2px solid #eeeeee;border-left-color:#ededed;border-right-color:#ededed;background:#1F497D;}
.img_slider .lt,.img_slider .rt,.img_slider .lb,.img_slider .rb{position:absolute;z-index:4;display:block;width:10px;height:10px;overflow:hidden;background:url(../filesfilesslider-rnd.png) 0px 0px no-repeat}
.img_slider .lt{left:-2px;top:-2px;background-position:0px 0px}
.img_slider .rt{right:-2px;top:-2px;background-position:-10px 0px}
.img_slider .lb{left:-2px;bottom:-2px;background-position:0px -10px}
.img_slider .rb{right:-2px;bottom:-2px;background-position:-10px -10px}
.img_slider .logo{position:absolute;display:block;z-index:2;top:60px;left:50%;margin-left:-180px;display:block;padding:22px 11px;background:#FFF;border-radius:12px;-moz-border-radius:12px;-webkit-border-radius:12px;}
.img_slider .longlist{position:relative;z-index:1;width:99999999px;}
.img_slider .longlist img{float:left;}
.img_slider .overhid{position:relative;width:851px;height:227px;overflow:hidden;}
.img_slider .prev,.img_slider .next{position:absolute;z-index:3;top:100px;display:block;width:14px;height:20px;cursor:pointer;overflow:hidden;background:url(../filesfilesslider-pn.png) 0px 0px no-repeat}
.img_slider .prev{left:8px;background-position:0px 0px}
.img_slider .next{right:8px;background-position:-14px 0px}
.steps{position:relative;height:34px;margin:31px 0px 36px;overflow:hidden;background:url(../files/steps.png) 0px 0px no-repeat}
.steps.step1{background-position:0px 0px}
.steps.step2{background-position:0px -34px}
.steps.step3{background-position:0px -68px}
.steps.step4{background-position:0px -102px}
.photo{float:left;width:380px;}
.photo .lab{width:190px;float:left;}
.photo .lab span{font:20px/20px Tahoma;color:#4c4c4c}
.photo .lab p{font:16px/20px Tahoma;color:#4c4c4c}
.filebl{position:relative;width:176px;height:46px;overflow:hidden;}
.filebl .pfile{display:block;width:168px;height:28px;cursor:pointer;padding:7px 0px 0px 0px;border:4px solid #d5d5d5;text-align:center;font:18px/18px Tahoma;color:#0063d1;background:#f5f5f5;border-radius:24px;-moz-border-radius:24px;-webkit-border-radius:24px;}
.filebl input{position:absolute;font-size:9999px;right:0px;top:0px;cursor:pointer;opacity:0;-moz-opacity:0;-khtml-opacity:0;}
.subbl .hint{position:absolute;left:-251px;top:-203px;width:306px;padding:40px 60px 0px;background:#FFF;text-align:center;border:3px dotted #e6e6e6;border-radius:12px;-moz-border-radius:12px;-webkit-border-radius:12px;box-shadow:20px 28px 0px rgba(0,0,0,0.3);-moz-box-shadow:20px 28px 0px rgba(0,0,0,0.3);-webkit-box-shadow:20px 28px 0px rgba(0,0,0,0.3);}
.subbl .hint .hzag{font:30px/30px Tahoma;color:#4c4c4c}
.subbl .hint .trig{position:absolute;bottom:-13px;right:66px;display:block;width:27px;height:13px;background:url(../files/hint-trig.png) 0px 0px no-repeat}
.subbl .hint p{font:16px/30px Tahoma;color:#808080}
.subbl.noactive{border-color:#828282}
.subbl.noactive input{border-color:#5f5f5f;background:#686868;color:#FFF;}
.back{margin:30px 43px 0px;font:18px/18px Tahoma;color:#0063d1;border-bottom:2px dashed #0063d1;text-decoration:none;cursor:pointer;}
.back:hover{border-color:#0077ff}
.botlbl{position:relative;overflow:hidden;height:42px;padding:21px 0px 0px;}
.botlbl .subbl{position:relative;margin:0px;}
.overbl{position:relative;overflow:hidden;}
.overbl.vis{overflow:visible;}
.news{position:relative;min-height:461px;overflow:hidden;padding:2px;margin:18px 0px 0px;background:-moz-linear-gradient(top, #EEE, #d2d2d2);background:-webkit-linear-gradient(top, #EEE, #d2d2d2);background:-o-linear-gradient(top, #EEE, #d2d2d2);background:-ms-linear-gradient(top, #EEE, #d2d2d2);background:linear-gradient(top, #EEE, #d2d2d2);border-radius:12px;-moz-border-radius:12px;-webkit-border-radius:12px;}
.news .anons{position:relative;float:left;font-size:16px;height:417px;width:514px;padding:22px 28px;border-right:1px solid #d7d7d7;background:#FFF;border-radius:12px 0px 0px 12px;-moz-border-radius:12px 0px 0px 12px;-webkit-border-radius:12px 0px 0px 12px;}
.news .anons .top{padding:0px 0px 0px 0px;overflow:hidden;height:64px;}
.news .anons .top .date{display:block;font:16px/20px Tahoma;color:#808080}
.news .anons .top .nm{font:20px/100% Tahoma;color:#005abf}
.news .anons .logo{float:right;margin-left:10px;}
.news .anons .image{padding:12px 0px 0px;border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;}
.news .anons .image img{border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;}
.news .anons p{font:16px/100% Tahoma;color:#4c4c4c;padding:18px 0px 20px;}
.news .nlinks{position:relative;float:right;min-height:451px;width:280px;padding:10px 0px 0px;background:#f6f6f6;border-radius:0px 12px 12px 0px;-moz-border-radius:0px 12px 12px 0px;-webkit-border-radius:0px 12px 12px 0px;}
.news .nlinks .item{position:relative;min-height:88px;padding:6px 34px 6px 27px;border-bottom:1px solid #e6e6e6;}
.news .nlinks .item:first-child{border-top:1px solid #e6e6e6}
.news .nlinks .item.active{background:#ededed;}
.news .nlinks .item div{display:table-cell;height:88px;vertical-align:middle}
.news .nlinks .item .none{display:none;}
.news .nlinks .item .date{display:block;padding:0px 0px 2px;font:16px/100% Tahoma;color:#808080}
.news .nlinks .item a{font:16px/100% Tahoma;color:#005abf;text-decoration:none;}
.news .nlinks .trig{position:absolute;left:-1px;top:43px;display:block;width:11px;height:21px;background:url(../files/news-trig.png) 0px 0px no-repeat}
.n_item{position:relative;overflow:hidden;padding:19px 0px 19px;}
.n_item .image{float:left;margin:0px 28px 0px 0px;width:100px;}
.n_item .image img{max-width:100px;}
.n_item .info{float:left;}
.n_item .info .date{display:block;font:16px/20px Tahoma;color:#808080}
.n_item .info a{color:#005ABF;display:block;float:right;font:20px/20px Tahoma;width:660px;}
.n_item .info a:hover,.news .nlinks .item a:hover{color:#0077ff}
.pager{position:relative;padding:19px 0px 0px;}
.pager a{margin:0px 22px 0px 0px;font:16px/20px Tahoma;}
.pager a.curr{font:700 24px/20px Tahoma;color:#808080;text-decoration:none;}
.pager a.arr.curr{font-size:16px;}
.pager span{margin:0px 22px 0px 0px;font:16px/20px Tahoma;}
.pager span.curr{font:700 24px/20px Tahoma;color:#808080;text-decoration:none;}
.pager span.arr.curr{font-size:16px;}
.fr_info{position:relative;overflow:hidden;padding:53px 0px 0px;width:856px;}
.fr_info .image{float:left;width:295px;text-align:center;}
.fr_info .image img{max-width:295px;}
.fr_info .shinfo{float:left;width:235px;margin:0px 0px 0px 20px;}
.fr_info .shinfo .name, r_info .shinfo h1{display:block;float:none;font:30px Tahoma;color:#1f497d}
.fr_info .shinfo p{padding:18px 0px 10px;font:200 18px/100% Tahoma;color:#4c4c4c}
.fr_info .shinfo p b{color:#000}
.sellink,.sellink2{position:relative;margin:10px 0px 0px;display:inline-block;padding:0px 0px 0px 28px;height:19px;cursor:pointer;overflow:hidden;background:url(../files/selectbl-bg.png) 0px 0px no-repeat}
.sellink span,.sellink2 span{position:relative;top:0px;display:block;padding:0px 0px 1px;font:16px/16px Tahoma;color:#1f497d;border-bottom:1px dashed #005abf;font-weight:bold;}
.sellink:hover span,.sellink2:hover span{border:none;padding-bottom:1px;}
.gotosell{position:relative;margin:10px 0px 0px;display:inline-block;padding:0px 0px 0px 28px;height:19px;cursor:pointer;overflow:hidden;background:url(../files/selectbl-bg.png) 0px 0px no-repeat}
.gotosell span{position:relative;top:0px;display:block;padding:0px 0px 1px;font:16px/16px Tahoma;color:#1f497d;border-bottom:1px dashed #005abf;font-weight:bold;}
.gotosell:hover span{border:none;padding-bottom:1px;}
.gotosell{background-position:0px -19px;}
.more{position:absolute;top:137px;right:30px;height:29px;width:194px;padding:6px 0px 0px 0px;text-align:center;border:4px solid #005abf;cursor:pointer;background:#0063d1;color:#FFF;font:18px/100% Tahoma;border-radius:22px;-moz-border-radius:22px;-webkit-border-radius:22px;}
.ftabs{position:relative;padding:40px 0px 0px;height:36px;z-index:3;}
.ftabs ul{list-style-type:none;margin:0;}
.ftabs ul li{position:relative;float:left;padding:11px 20px 0px;height:27px;}
.ftabs ul li.current{top:0px;border:2px solid #0163d1;padding:9px 18px 0px;background:#FFF;border-bottom:none;border-radius:12px 12px 0px 0px;-moz-border-radius:12px 12px 0px 0px;-webkit-border-radius:12px 12px 0px 0px;}
.ftabs ul li span{display:inline-block;font:16px/16px Tahoma;cursor:pointer;color:#005abf;border-bottom:1px dashed #005abf}
.ftabs ul li span:hover{color:#0077ff}
.ftabs ul li.current span{border:none;color:#4c4c4c}
.ftinner{position:relative;border:2px solid #0163d1;padding:32px 27px 34px;border-radius:12px;-moz-border-radius:12px;-webkit-border-radius:12px;}
.ftinner.fcurr{border-radius:0px 12px 12px 12px;-moz-border-radius:0px 12px 12px 12px;-webkit-border-radius:0px 12px 12px 12px;}
.ftinner h2,.ftinner .zag2{font:28px Tahoma;color:#1f497d}
.ftinner ul{padding:7px 0px 7px 24px;}
.ftinner ul li{position:relative;font:16px/100% Tahoma;color:#4c4c4c;margin:14px 0px 0px;}
.ftinner ul li .quest{left:-24px;}
.ftinner ul li .show{display:inline-block;border-bottom:1px dashed #005abf;color:#005abf;cursor:pointer;}
.ftinner ul li .show:hover{color:#0077ff;border-color:#0077ff;}
.ftinner .box{display:none;overflow:hidden;}
.ftinner .box.active{display:block;}
.zform .flblock .txtar{width:274px;}
.answerer{position:relative;overflow:hidden;height:126px;padding:20px 0px 0px;}
.answerer .left{float:left;width:296px;padding:3px 0px 0px;}
.answerer .left .azag{display:block;font:20px/100% Tahoma;color:#4c4c4c;padding:0px 0px 11px;}
.answerer .left .name{display:block;float:none;width:auto;font:700 16px/120% Tahoma;color:#4c4c4c;padding:0px 0px 1px}
.answerer .left .town{display:block;font:700 16px/120% Tahoma;color:#4c4c4c;padding:0px 0px 8px;}
.answerer .left .profession{display:block;font:14px/120% Tahoma;color:#808080}
.answerer .image{float:right;}
.answerer .image img{border-radius:18px;-moz-border-radius:18px;-webkit-border-radius:18px;}
.sfran .frblock{width:440px;}
.sfran .frblock .sinp{width:172px;}
.sfran .flblock label{min-height:36px;}
.sfran .flblock label div.lab2{padding:0px 0px 4px;}
.sfran .flblock label:first-child{height:auto;}
.fstype2{display:none;}
.gototh{position:absolute;width:146px;left:318px;top:302px;height:99px;cursor:pointer;}
.photolist{position:relative;left:-60px;top:-15px;width:864px;margin-bottom:-15px;}
.photolist a{display:inline-block;width:225px;margin:15px 0px 15px 60px;}
.photolist a img{width:225px;border-radius:12px;-moz-border-radius:12px;-webkit-border-radius:12px;}
#footgarant{clear:both;height:185px;}
#footer{position:relative;height:186px;margin:80px 0px 0px;}
#footer .lblock{text-align:right}
#big_menu{position:relative;top:-7px;padding:0px 0px 2px;overflow:hidden;}
#big_menu ul,#min_menu ul{list-style-type:none;margin:0;}
#min_menu{position:relative;overflow:hidden;}
#big_menu li{float:left;font-size:24px;margin-right:48px;}
#min_menu li{float:left;font-size:14px;line-height:20px;margin-right:48px;}
.footlinks{padding:73px 0px 0px;}
.footlinks a{font:14px/20px Tahoma;}
.ftext{position:relative;padding:40px 0px 0px 0px;}
.ftext p{font:14px/20px Tahoma;color:#808080}
.ftext p.copy{padding:0px 0px 19px;}
#popup_bg{position:absolute;display:none;left:0px;top:0px;width:100%;height:100%;}
.popup{position:absolute;z-index:10001;display:block;visibility:hidden;margin-top:100px;padding-top:14px;width:500px;min-height:140px;background:#ecf4fb;}
.pclose{position:absolute;display:block;width:26px;height:27px;right:19px;top:11px;cursor:pointer;background:url(../files/pclose-bg.png) 0px 0px no-repeat}
#domust{width:504px;min-height:182px;padding:50px 10px 30px;left:50%;text-align:center;margin-left:-252px;background:#FFF;border:3px dotted #e6e6e6;border-radius:22px;-moz-border-radius:22px;-webkit-border-radius:22px;box-shadow:20px 28px 0 rgba(0, 0, 0, 0.3);-moz-box-shadow:20px 28px 0 rgba(0, 0, 0, 0.3);-webkit-box-shadow:20px 28px 0 rgba(0, 0, 0, 0.3);}
#domust.doneDomust{-moz-box-shadow:none;box-shadow:none;margin-top:0px;}
#domust.nwid3,#domust2.nwid3{width:714px;margin-left:-357px;}
#domust .pzag,#domust2 .pzag{font:30px Tahoma;color:#4c4c4c}
#domust p,#domust2 p{color:#808080;font:14px Tahoma;}
#domust p a,#domust2 p a{color:#005abf}
#domust p a:hover,#domust2 p a:hover{color:#0077ff}
.flblock.wid2{width:380px;}
.frblock.wid2{width:357px;}
.flblock.wid2 .lab, .frblock.wid2 .lab{width:190px;}
.flblock.wid3{width:370px;}
.frblock.wid3{width:370px;}
.flblock.wid3 .lab, .frblock.wid3 .lab{width:230px;height:auto;}
.flblock.wid3 label .sinp, .frblock.wid3 label .sinp{width:120px;}
.flblock.wid3 label .sinp.wid3, .frblock.wid3 label .sinp.wid3,.flblock.wid3 .labbl .sinp.wid3, .frblock.wid3 .labbl .sinp.wid3{width:40px;}
.flblock.wid3 label .slash,.frblock.wid3 label .slash{margin:0px 4px;}
.flblock.wid3 .lab .quest,.frblock.wid3 .lab .quest{position:relative;right:0px;display:inline-block;width:11px;height:15px;overflow:hidden;background:url(../files/quest-bg.png) 0px 0px no-repeat}
.labht label{padding:10px 0px 0px;}
#bphoto{position:absolute;display:none;z-index:10;padding:10px;background:#FFF;border:1px solid #f5f5f5;border-radius:12px;-moz-border-radius:12px;-webkit-border-radius:12px;box-shadow:3px 3px 0px rgba(0,0,0,0.4);-moz-box-shadow:3px 3px 0px rgba(0,0,0,0.4);-webkit-box-shadow:3px 3px 0px rgba(0,0,0,0.4);}
#bphoto img{max-width:425px;max-height:356px;}
#bphoto.show{display:block;}
#hint{position:absolute;left:0px;top:0px;display:block;visibility:hidden;z-index:0;}
#help-txt{position:absolute;left:0px;top:0px;display:none;z-index:0;width:167px;padding:11px 20px 13px 20px;border:1px solid #a1a1a1;background:#FFF;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;box-shadow:0px 2px 2px rgba(0,0,0,0.05);-moz-box-shadow:0px 2px 2px rgba(0,0,0,0.05);-webkit-box-shadow:0px 2px 2px rgba(0,0,0,0.05);}
#hint div{position:relative;display:block;width:167px;padding:11px 20px 13px 20px;border:1px solid #a1a1a1;background:#FFF;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;box-shadow:0px 2px 2px rgba(0,0,0,0.05);-moz-box-shadow:0px 2px 2px rgba(0,0,0,0.05);-webkit-box-shadow:0px 2px 2px rgba(0,0,0,0.05);}
#hint p,#help-txt p{font-size:12px;color:#000;}
#hint .icon,#help-txt .icon{position:absolute;display:block;width:13px;height:15px;left:50%;margin-left:-7px;bottom:-9px;background:url(../files/hint-icon.png) 0px 0px no-repeat}
.art.pd1{padding-top:26px;overflow:hidden;}
.mrg1,.action .image.mrg1{margin-bottom:13px;padding-bottom:0px;}
.none{display:none;}
#jquery-overlay{position:absolute;top:0;left:0;z-index:90;width:100%;height:500px;}
#jquery-lightbox{position:absolute;top:0;left:0;width:100%;z-index:100;text-align:center;line-height:0;}
#jquery-lightbox a img{border:none;}
#lightbox-container-image-box{position:relative;background-color:#fff;width:250px;height:250px;margin:0 auto;}
#lightbox-container-image{padding:10px;}
#lightbox-loading{position:absolute;top:40%;left:0%;height:25%;width:100%;text-align:center;line-height:0;}
#lightbox-nav{position:absolute;top:0;left:0;height:100%;width:100%;z-index:10;}
#lightbox-container-image-box > #lightbox-nav{left:0;}
#lightbox-nav a{outline:none;}
#lightbox-nav-btnPrev, #lightbox-nav-btnNext{width:49%;height:100%;zoom:1;display:block;}
#lightbox-nav-btnPrev{left:0;float:left;}
#lightbox-nav-btnNext{right:0;float:right;}
#lightbox-container-image-data-box{font:10px Verdana, Helvetica, sans-serif;background-color:#fff;margin:0 auto;line-height:1.4em;overflow:auto;width:100%;padding:0 10px 0;}
#lightbox-container-image-data{padding:0 10px;color:#666;}
#lightbox-container-image-data #lightbox-image-details{width:70%;float:left;text-align:left;}
#lightbox-image-details-caption{font-weight:bold;}
#lightbox-image-details-currentNumber{display:block;clear:left;padding-bottom:1.0em;}
#lightbox-secNav-btnClose{width:66px;float:right;padding-bottom:0.7em;}
a.stocks{display:block;padding:8px 0}
.flblock.new, .flblock.new2{width:auto;}
.flblock.new .lab,.flblock.new2 .lab{width:350px}
.flblock.new .lab.long, .flblock.new2 .lab.long{width:auto;}
.flblock.new2{float:none;}
.popup .slider{width:100%;height:auto;}
.popup .slider .visible{width:100%;height:auto;}
.popup .slider .visible .longlist{width:100%;text-align:left;font-size:14px;color:#505050 display:inline-block;}
.popup .slider .visible .longlist .item{width:100%;}
.popup .slider .visible .longlist .fran{width:30%;margin:0 1% 35px 1%;float:left;text-align:center;}
.popup .slider .visible .longlist .fran .image{width:100%;height:90px;}
.popup .longlist .fran .invest{display:block;padding:0;color:#000002;font:16px Tahoma;}
.popup .slider .visible .longlist .fran .image img{max-width:150px;height:auto;max-height:90px;vertical-align:bottom;}
.popup .subblfr{float:right;margin-left:25px;min-width:182px;padding:0;position:relative;border:1px solid #1D7AE0;border-radius:20px;box-shadow:0 3px 0 #E5E5E5;}
.popup .subblfr input{display:block;margin:0px;height:40px;padding:1px 8px 5px 8px;width:100%;border:3px solid #005abf;font:18px/18px Tahoma;color:#FFF;white-space:normal;cursor:pointer;background:#0063d1;border-radius:20px;-moz-border-radius:20px;-webkit-border-radius:20px;}
#domust p.blue{color:#19426e;}
.popup .gotosell span,.popup .sellink span,.popup .sellink2 span{font-size:11px;font:16px Tahoma;margin-top:-2px;}
.popup .slider .blue{line-height:26px !important;color:#808080 !important;}
.popup .fran .nm a{font:20px "Tahoma";color:#0077FF;margin-bottom:10px;display:block;}
#tf1.box ul li{background:none;padding:0px;}
#bat2,#bat3,#bat4{margin-top:19px;}
.gclk{cursor:pointer;}
.flblock.new .data-table td .lab{width:auto;padding:0 0 6px;}
.data-table1 label{overflow:hidden;}
#tf1 ul{list-style-type:none;margin:0;}
.manBlock{position:relative;float:right;width:208px;padding:10px;border:2px solid #ECECEC;overflow:hidden;border-radius:12px;-moz-border-radius:12px;-webkit-border-radius:12px;}
.manBlock .image{float:right;width:87px;}
.manBlock .image img{max-width:87px;border-radius:12px;}
.manBlock .name{float:none;width:auto;font-size:11px;font-weight:bold;text-align:right;margin:0 100px 0 0;padding:0 0 6px;}
.manBlock .manInfo{margin:0 100px 0 0;font-size:10px;text-align:right;}
.manBlock .more{position:relative;width:auto;height:auto;left:0;top:0;display:block;clear:both;padding:6px 0;margin:12px 0 0;}
.manBlock .more:hover{background:#0153ad}
#action_arrows{width:224;height:100px;margin-bottom:135px;margin-top:20px;cursor:pointer;}
#arrow_top{height:100px;float:left;width:112px;cursor:pointer;text-align:center;}
#arrow_bottom{height:100px;float:right;width:112px;cursor:pointer;text-align:center;}
.full-sell-link{background-color: #1f497d;height: 40px;margin-top: 10px;border-radius: 10px;}
.full-sell-link:hover {background-color:#005abf;}
.full-sell-link:active {background-color:#073973;}  
#franshizInfoGet div.lab{width:180px;}
#franshizInfoGet div.flblock{width:395px;}
.zform .checks,.frblock{width:400px;} 
#franshizInfoGet  .subs{padding: 14px 36px 0px 20px;background:-ms-linear-gradient(top, #fafafa, #efefef);}
#franshizInfoGet #newSendButton{background-color: #0063d1;font: 22px/16px Tahoma;width: 320px;height: 53px;color: white;cursor:pointer;}
span.bbspan{color: red;display: block;padding: 10px;width: 100%;text-align: center;background-color: white;margin-top: 10px;border-radius: 10px;}




.clearfix:after{content:"";display: block;width: 100%;height: 0;clear:both;}
.fran_text {
  min-height: 60px;
}
#header .anons {
    width: 51.98%;
    margin: 0px 0px 0px 23%;
}
#header .logo {
    width: 20.4%;
}
#header .logo img {
    width: 100% !important;
    height: auto;
}
.header_box_button .header_box_button_item.two {
    margin-right: 0;
}
.lblock {
    width: 20.4%;
}
.rblock {
    width: 77.11711711711712%;
}
.header_320_box {
  right: -280px;
  background: #FFF;
  visibility: hidden;
  z-index: 999;
  opacity: 1;
  top: 0;
  padding-top: 30px;
  position: relative;
  width: 280px;
  position: fixed;
  border-bottom: 1px solid #e0e0e0;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.close_menu{
	right: 20px;
	top: 10px;
	width: 13px;
	height: 14px;
	padding: 10px;
	cursor: pointer;
	position: absolute;
	background: url(../files/cose_menu_icon.png) 50% 50% no-repeat;
}
.header_320_box:before {
  content: "";
  position: absolute;
  left: -7px;
  top: 0;
  bottom: -1px;
  border-left: 7px solid #1f497d;
}
#header .header_320_box .logo {
  margin-top: 12px;
  display: block;
  margin-bottom: 9px;
}
.header_320_box_link {
  display: block;
  padding: 9.5px 0;
  text-align: center;
  color: #4c4c4c;
  font: 17px/20px Tahoma;
  border-top: 1px solid #d8d8d8;
  text-decoration: none;
}
.header_box_list .header_320_box_link:last-child {
  border-bottom: 1px solid #d8d8d8;
}
.pt5 {
  padding-top: 5px;
}
.header_box_button {
  width: 275px;
  margin: auto;
}
.pb144 {
  padding-bottom: 110px;
}
.search_320 {
  width: 223px;
  margin: auto;
  position: relative;
  padding-bottom: 39px;
}
.header_box_button_item {
  background-color: transparent;
  outline-style: none;
  border: 1px solid #D8D8D8;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 0px 5px;
  text-align: center !important;
  padding: 0;
}
.header_box_button_item.one {
  width: 160px;
  height: 30px;
  font: 16px/22px Tahoma;
  text-align: center;
  color: #4C4C4C;
}
.header_box_button_item.two {
  width: 90px;
  height: 30px;
  font: 16px/22px Tahoma;
  text-align: center;
  color: #4C4C4C;
}
.header_box_button_item:hover {
  background-color: #f4f4f4;
}
.header_box_button .header_box_button_item.two {
  margin-right: 0;
}
.input_320_search {
  border: 2px solid #d8d8d8;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  float: left;
  height: 30px;
  width: 223px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  outline-style: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
    border-image: none;
  padding: 6px 30px 6px 10px !important;
}
.btn_with_input {
  background: url(../files/btn_search_inp.png) 0 0 no-repeat;
  float: left;
  position: absolute;
  right: 0px;
  top: 0px;
  border: none;
  display: block;
  width: 30px;
  height: 30px;
  /*margin-left: -2px;*/
  /*margin-top: 2px;*/
  outline-style: none;
}
/*.arr_it{
	border: 30px solid transparent;
  	border-right: 25px solid #1f497d;
  	position: absolute;
	left: -55px;
	top: 50%;
	margin-top: -25px;
}
.header_320_box:after {
  content: "";
  position: absolute;
  left: -25px;
  top: 0;
  height: 100%;
  padding-left: 25px;
  cursor: pointer;
  z-index: 9;
}*/
.d_n{
	display: none !important;
}

.header_box_button,
.list_fotter_center,
.search_320,
.dis_n,
.button_fltr,
.top_anchor{
	display: none ;
}
.f_left{float: left;}

.sinp,
#franshizInfoGet #newSendButton,
#header .search .ssub{
	outline-style: none;
}
/*.button_fltr,.top_anchor{display: none;}*/
.action .adv-block{display: block ;}
.action{width: 99%;
	-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}
.lblock .action .name{text-align: center;float: none;}
.action font a{font-size: 18px;}
.lblock .adv-block .text p{padding: 0;}
.action .adv-block{height: auto;}
.pri{padding: 4px 0;display: block;}
.toAnchor{
	width: 380px !important;
}
.toAnchor_item{
	right: 50%;
	margin-right: -520px;
}
.toAnchor_item button{
	display: block;
	text-align: center;
	border: none;
	outline: none;
	background: none;
	color: #FFF;
	font: 16px/20px Tahoma;
}
.toAnchor.active{display: none !important;}
