


/* Start:/bitrix/templates/.default/components/bitrix/news.detail/franch_det/style.css*/
div.news-detail img.detail_picture
{
	float:left;
	margin:0 8px 6px 1px;
}
.news-date-time
{
	color:#486DAA;
}

.stickButton
	{
	width:90%;
	position: left;
	text-align: center;
	cursor:pointer;
	float:left;
	
}
.toAnchor
	{
	padding: 0.3em;     
	background-color: rgb(192,0,0);
	border-radius:6px;
	position: fixed;
	bottom: 0px; 
	width: 845px;
	color: white;
	z-index: 5;
	font: 16px/20px Tahoma;
}
 .closeButton 
	{
	position: right;
	width: 2em;
	float:right;
	font-weight: bold;
	cursor: pointer;
	
}
/* End */



/* Start:/bitrix/templates/.default/components/bitrix/news.list/news_for_fr/style.css*/
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */



/* Start:/bitrix/templates/.default/components/bitrix/news.list/action_for_fr/style.css*/
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */



/* Start:/bitrix/templates/.default/components/bitrix/news.list/same_offers/style.css*/
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */
/* /bitrix/templates/.default/components/bitrix/news.detail/franch_det/style.css */
/* /bitrix/templates/.default/components/bitrix/news.list/news_for_fr/style.css */
/* /bitrix/templates/.default/components/bitrix/news.list/action_for_fr/style.css */
/* /bitrix/templates/.default/components/bitrix/news.list/same_offers/style.css */
